._1c9k4ih1 {
    height: 100%;
    overflow-y: auto;
    background: var(--_19z1c6do);
    border-top-left-radius: var(--foundry_ca109bc3);
    border-top-right-radius: var(--foundry_ca109bc3)
}

._1c9k4ih1,
._1c9k4ih2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center
}

._1c9k4ih2 {
    width: 100%;
    height: auto;
    gap: var(--_19z1c6d2p)
}

._1c9k4ih3 {
    width: 100%;
    color: var(--_19z1c6di);
    font-size: var(--_19z1c6d2v)
}

._1c9k4ih4 {
    display: grid;
    grid-template-columns: var(--_1c9k4ih0);
    grid-template-rows: auto;
    width: 100%;
    align-items: center;
    grid-gap: var(--_19z1c6d2s);
    gap: var(--_19z1c6d2s)
}

._1c9k4ih5 {
    border-top-left-radius: var(--foundry_ca109bc3);
    border-top-right-radius: var(--foundry_ca109bc3)
}

@media (min-width:768px) {
    ._1c9k4ih2 {
        padding: var(--_19z1c6d2z)
    }
    ._1c9k4ih3 {
        padding: 0 var(--_19z1c6d2s)
    }
    ._1c9k4ih4 {
        --_1c9k4ih0: repeat(3, 1fr)
    }
}

@media (min-width:0px) and (max-width:767px) {
    ._1c9k4ih2 {
        padding: var(--_19z1c6d2x) var(--_19z1c6d2s)
    }
    ._1c9k4ih3 {
        padding: 0 var(--_19z1c6d2u)
    }
}

@media (min-width:768px) and (max-width:1023px) {
    ._1c9k4ih4 {
        --_1c9k4ih0: repeat(2, 1fr)
    }
}

@media (min-width:600px) and (max-width:767px) {
    ._1c9k4ih4 {
        --_1c9k4ih0: 1fr
    }
}

@media (min-width:0px) and (max-width:599px) {
    ._1c9k4ih4 {
        --_1c9k4ih0: 1fr;
        padding: 0
    }
}