@layer herm1h0 {
    ._1o231x80 {
        display: block;
        width: 100%;
        height: auto;
        object-fit: cover;
        position: relative;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        min-height: 0;
        min-width: 0
    }
    ._1o231x81 {
        aspect-ratio: 1/1
    }
    ._1o231x82 {
        aspect-ratio: 9/16
    }
}