@font-face {
    font-family: __ArtDecoRegular_d31d7e;
    src: url(/VI/_next/static/media/145d7d15e4d79baa-s.p.woff) format("woff");
    font-display: swap;
    font-weight: 400
}

@font-face {
    font-family: __ArtDecoRegular_Fallback_d31d7e;
    src: local("Arial");
    ascent-override: 94.65%;
    descent-override: 27.84%;
    line-gap-override: 0.00%;
    size-adjust: 107.76%
}

.__className_d31d7e {
    font-family: __ArtDecoRegular_d31d7e, __ArtDecoRegular_Fallback_d31d7e;
    font-weight: 400
}

.__variable_d31d7e {
    --da39a4: "__ArtDecoRegular_d31d7e", "__ArtDecoRegular_Fallback_d31d7e"
}

@font-face {
    font-family: __ArtDecoMedium_58663d;
    src: url(/VI/_next/static/media/67cd960e7f9dc604-s.p.woff) format("woff");
    font-display: swap;
    font-weight: 500
}

@font-face {
    font-family: __ArtDecoMedium_Fallback_58663d;
    src: local("Arial");
    ascent-override: 92.35%;
    descent-override: 27.16%;
    line-gap-override: 0.00%;
    size-adjust: 110.45%
}

.__className_58663d {
    font-family: __ArtDecoMedium_58663d, __ArtDecoMedium_Fallback_58663d;
    font-weight: 500
}

.__variable_58663d {
    --da39a9: "__ArtDecoMedium_58663d", "__ArtDecoMedium_Fallback_58663d"
}

@font-face {
    font-family: __ArtDecoBold_265806;
    src: url(/VI/_next/static/media/1927f68609cd9595-s.p.woff) format("woff");
    font-display: swap;
    font-weight: 700
}

@font-face {
    font-family: __ArtDecoBold_Fallback_265806;
    src: local("Arial");
    ascent-override: 91.09%;
    descent-override: 26.79%;
    line-gap-override: 0.00%;
    size-adjust: 111.98%
}

.__className_265806 {
    font-family: __ArtDecoBold_265806, __ArtDecoBold_Fallback_265806;
    font-weight: 700
}

.__variable_265806 {
    --da39af: "__ArtDecoBold_265806", "__ArtDecoBold_Fallback_265806"
}

@font-face {
    font-family: __ArtDecoCondensedBold_2541cd;
    src: url(/VI/_next/static/media/7c47f8730b74dd15-s.p.woff) format("woff");
    font-display: swap;
    font-weight: 700
}

@font-face {
    font-family: __ArtDecoCondensedBold_Fallback_2541cd;
    src: local("Arial");
    ascent-override: 131.84%;
    descent-override: 38.78%;
    line-gap-override: 0.00%;
    size-adjust: 77.37%
}

.__className_2541cd {
    font-family: __ArtDecoCondensedBold_2541cd, __ArtDecoCondensedBold_Fallback_2541cd;
    font-weight: 700
}

.__variable_2541cd {
    --da39a3: "__ArtDecoCondensedBold_2541cd", "__ArtDecoCondensedBold_Fallback_2541cd"
}

@font-face {
    font-family: __NotoSansJpMedium_fe495c;
    src: url(/VI/_next/static/media/831ec87323c005fd-s.woff) format("woff");
    font-display: swap;
    font-weight: 500
}

@font-face {
    font-family: __NotoSansJpMedium_Fallback_fe495c;
    src: local("Arial");
    ascent-override: 107.40%;
    descent-override: 26.67%;
    line-gap-override: 0.00%;
    size-adjust: 108.01%
}

.__className_fe495c {
    font-family: __NotoSansJpMedium_fe495c, __NotoSansJpMedium_Fallback_fe495c;
    font-weight: 500
}

.__variable_fe495c {
    --da41a1: "__NotoSansJpMedium_fe495c", "__NotoSansJpMedium_Fallback_fe495c"
}

@font-face {
    font-family: __NotoSansJpBold_03bd8a;
    src: url(/VI/_next/static/media/d91df00a29fc9d23-s.woff) format("woff");
    font-display: swap;
    font-weight: 700
}

@font-face {
    font-family: __NotoSansJpBold_Fallback_03bd8a;
    src: local("Arial");
    ascent-override: 103.80%;
    descent-override: 25.77%;
    line-gap-override: 0.00%;
    size-adjust: 111.76%
}

.__className_03bd8a {
    font-family: __NotoSansJpBold_03bd8a, __NotoSansJpBold_Fallback_03bd8a;
    font-weight: 700
}

.__variable_03bd8a {
    --da41a2: "__NotoSansJpBold_03bd8a", "__NotoSansJpBold_Fallback_03bd8a"
}

@font-face {
    font-family: __NotoSansJpBlack_026b48;
    src: url(/VI/_next/static/media/9bda93dc729cdf2c-s.woff) format("woff");
    font-display: swap;
    font-weight: 900
}

@font-face {
    font-family: __NotoSansJpBlack_Fallback_026b48;
    src: local("Arial");
    ascent-override: 100.47%;
    descent-override: 24.95%;
    line-gap-override: 0.00%;
    size-adjust: 115.45%
}

.__className_026b48 {
    font-family: __NotoSansJpBlack_026b48, __NotoSansJpBlack_Fallback_026b48;
    font-weight: 900
}

.__variable_026b48 {
    --da41a3: "__NotoSansJpBlack_026b48", "__NotoSansJpBlack_Fallback_026b48"
}

@font-face {
    font-family: __NotoSansKrMedium_0eadd6;
    src: url(/VI/_next/static/media/79dfbbd5c8de4775-s.woff) format("woff");
    font-display: swap;
    font-weight: 500
}

@font-face {
    font-family: __NotoSansKrMedium_Fallback_0eadd6;
    src: local("Arial");
    ascent-override: 107.40%;
    descent-override: 26.67%;
    line-gap-override: 0.00%;
    size-adjust: 108.01%
}

.__className_0eadd6 {
    font-family: __NotoSansKrMedium_0eadd6, __NotoSansKrMedium_Fallback_0eadd6;
    font-weight: 500
}

.__variable_0eadd6 {
    --da42a1: "__NotoSansKrMedium_0eadd6", "__NotoSansKrMedium_Fallback_0eadd6"
}

@font-face {
    font-family: __NotoSansKrBold_673896;
    src: url(/VI/_next/static/media/7ded243557c83342-s.woff) format("woff");
    font-display: swap;
    font-weight: 700
}

@font-face {
    font-family: __NotoSansKrBold_Fallback_673896;
    src: local("Arial");
    ascent-override: 103.80%;
    descent-override: 25.77%;
    line-gap-override: 0.00%;
    size-adjust: 111.76%
}

.__className_673896 {
    font-family: __NotoSansKrBold_673896, __NotoSansKrBold_Fallback_673896;
    font-weight: 700
}

.__variable_673896 {
    --da42a2: "__NotoSansKrBold_673896", "__NotoSansKrBold_Fallback_673896"
}

@font-face {
    font-family: __NotoSansKrBlack_04c543;
    src: url(/VI/_next/static/media/469151fac9c838f1-s.woff) format("woff");
    font-display: swap;
    font-weight: 900
}

@font-face {
    font-family: __NotoSansKrBlack_Fallback_04c543;
    src: local("Arial");
    ascent-override: 100.47%;
    descent-override: 24.95%;
    line-gap-override: 0.00%;
    size-adjust: 115.45%
}

.__className_04c543 {
    font-family: __NotoSansKrBlack_04c543, __NotoSansKrBlack_Fallback_04c543;
    font-weight: 900
}

.__variable_04c543 {
    --da42a3: "__NotoSansKrBlack_04c543", "__NotoSansKrBlack_Fallback_04c543"
}

@font-face {
    font-family: __NotoSansScMedium_b62e45;
    src: url(/VI/_next/static/media/747b414c29236faf-s.woff) format("woff");
    font-display: swap;
    font-weight: 500
}

@font-face {
    font-family: __NotoSansScMedium_Fallback_b62e45;
    src: local("Arial");
    ascent-override: 107.40%;
    descent-override: 26.67%;
    line-gap-override: 0.00%;
    size-adjust: 108.01%
}

.__className_b62e45 {
    font-family: __NotoSansScMedium_b62e45, __NotoSansScMedium_Fallback_b62e45;
    font-weight: 500
}

.__variable_b62e45 {
    --da43a1: "__NotoSansScMedium_b62e45", "__NotoSansScMedium_Fallback_b62e45"
}

@font-face {
    font-family: __NotoSansScBold_cea22e;
    src: url(/VI/_next/static/media/688aa6963fa4558b-s.woff) format("woff");
    font-display: swap;
    font-weight: 700
}

@font-face {
    font-family: __NotoSansScBold_Fallback_cea22e;
    src: local("Arial");
    ascent-override: 103.80%;
    descent-override: 25.77%;
    line-gap-override: 0.00%;
    size-adjust: 111.76%
}

.__className_cea22e {
    font-family: __NotoSansScBold_cea22e, __NotoSansScBold_Fallback_cea22e;
    font-weight: 700
}

.__variable_cea22e {
    --da43a2: "__NotoSansScBold_cea22e", "__NotoSansScBold_Fallback_cea22e"
}

@font-face {
    font-family: __NotoSansScBlack_82219c;
    src: url(/VI/_next/static/media/22783b0360cf91bb-s.woff) format("woff");
    font-display: swap;
    font-weight: 900
}

@font-face {
    font-family: __NotoSansScBlack_Fallback_82219c;
    src: local("Arial");
    ascent-override: 100.47%;
    descent-override: 24.95%;
    line-gap-override: 0.00%;
    size-adjust: 115.45%
}

.__className_82219c {
    font-family: __NotoSansScBlack_82219c, __NotoSansScBlack_Fallback_82219c;
    font-weight: 900
}

.__variable_82219c {
    --da43a3: "__NotoSansScBlack_82219c", "__NotoSansScBlack_Fallback_82219c"
}

@font-face {
    font-family: __NotoSansTcMedium_5d1e00;
    src: url(/VI/_next/static/media/02bc1f8fae9ebd01-s.woff) format("woff");
    font-display: swap;
    font-weight: 500
}

@font-face {
    font-family: __NotoSansTcMedium_Fallback_5d1e00;
    src: local("Arial");
    ascent-override: 107.40%;
    descent-override: 26.67%;
    line-gap-override: 0.00%;
    size-adjust: 108.01%
}

.__className_5d1e00 {
    font-family: __NotoSansTcMedium_5d1e00, __NotoSansTcMedium_Fallback_5d1e00;
    font-weight: 500
}

.__variable_5d1e00 {
    --da44a1: "__NotoSansTcMedium_5d1e00", "__NotoSansTcMedium_Fallback_5d1e00"
}

@font-face {
    font-family: __NotoSansTcBold_a47144;
    src: url(/VI/_next/static/media/f89f1e5f224aa2b4-s.woff) format("woff");
    font-display: swap;
    font-weight: 700
}

@font-face {
    font-family: __NotoSansTcBold_Fallback_a47144;
    src: local("Arial");
    ascent-override: 103.80%;
    descent-override: 25.77%;
    line-gap-override: 0.00%;
    size-adjust: 111.76%
}

.__className_a47144 {
    font-family: __NotoSansTcBold_a47144, __NotoSansTcBold_Fallback_a47144;
    font-weight: 700
}

.__variable_a47144 {
    --da44a2: "__NotoSansTcBold_a47144", "__NotoSansTcBold_Fallback_a47144"
}

@font-face {
    font-family: __NotoSansTcBlack_cac3ed;
    src: url(/VI/_next/static/media/b1f075ddc918e233-s.woff) format("woff");
    font-display: swap;
    font-weight: 900
}

@font-face {
    font-family: __NotoSansTcBlack_Fallback_cac3ed;
    src: local("Arial");
    ascent-override: 100.47%;
    descent-override: 24.95%;
    line-gap-override: 0.00%;
    size-adjust: 115.45%
}

.__className_cac3ed {
    font-family: __NotoSansTcBlack_cac3ed, __NotoSansTcBlack_Fallback_cac3ed;
    font-weight: 900
}

.__variable_cac3ed {
    --da44a3: "__NotoSansTcBlack_cac3ed", "__NotoSansTcBlack_Fallback_cac3ed"
}