.ad9htbt {
    position: absolute;
    border: 0;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    word-wrap: normal
}

@media (min-width:0px) and (max-width:767px) {
    .ad9htb1 {
        position: absolute;
        border: 0;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        word-wrap: normal
    }
}

@media (min-width:0px) and (max-width:767px) and (orientation:landscape) {
    .ad9htb2 {
        position: absolute;
        border: 0;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        word-wrap: normal
    }
}

@media (min-width:768px) and (max-width:1023px) {
    .ad9htb3 {
        position: absolute;
        border: 0;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        word-wrap: normal
    }
}

@media (min-width:1024px) and (max-width:1279px) {
    .ad9htb4 {
        position: absolute;
        border: 0;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        word-wrap: normal
    }
}

@media (min-width:768px) and (max-width:1279px) {
    .ad9htb5 {
        position: absolute;
        border: 0;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        word-wrap: normal
    }
}

@media (min-width:1280px) and (max-width:1439px) {
    .ad9htb6 {
        position: absolute;
        border: 0;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        word-wrap: normal
    }
}

@media (min-width:768px) and (max-width:1439px) {
    .ad9htb7 {
        position: absolute;
        border: 0;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        word-wrap: normal
    }
}

@media (min-width:1440px) and (max-width:2559px) {
    .ad9htb8 {
        position: absolute;
        border: 0;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        word-wrap: normal
    }
}

@media (min-width:2560px) {
    .ad9htb9 {
        position: absolute;
        border: 0;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        word-wrap: normal
    }
}

@media (min-width:1440px) {
    .ad9htba {
        position: absolute;
        border: 0;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        word-wrap: normal
    }
}

@media (min-width:768px) {
    .ad9htbb {
        position: absolute;
        border: 0;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        word-wrap: normal
    }
}

@media (min-width:768px) and (max-width:2559px) {
    .ad9htbc {
        position: absolute;
        border: 0;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        word-wrap: normal
    }
}

@media (orientation:portrait) {
    .ad9htbd {
        position: absolute;
        border: 0;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        word-wrap: normal
    }
}

@media (orientation:landscape) {
    .ad9htbe {
        position: absolute;
        border: 0;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        word-wrap: normal
    }
}

@media (min-aspect-ratio:2.5) {
    .ad9htbf {
        position: absolute;
        border: 0;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        word-wrap: normal
    }
}

@media (min-width:0px) and (max-width:450px) and (orientation:portrait) {
    .ad9htbg {
        position: absolute;
        border: 0;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        word-wrap: normal
    }
}

@media (min-width:451px) and (max-width:767px) and (orientation:portrait) {
    .ad9htbh {
        position: absolute;
        border: 0;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        word-wrap: normal
    }
}

@media (min-width:768px) and (max-width:1280px) {
    .ad9htbi,
    .ad9htbn {
        position: absolute;
        border: 0;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        word-wrap: normal
    }
}

@media (min-width:1281px) and (max-width:1920px) {
    .ad9htbj,
    .ad9htbo {
        position: absolute;
        border: 0;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        word-wrap: normal
    }
}

@media (min-width:1921px) {
    .ad9htbk,
    .ad9htbp {
        position: absolute;
        border: 0;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        word-wrap: normal
    }
}

@media (min-width:0px) and (max-width:450px) {
    .ad9htbl {
        position: absolute;
        border: 0;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        word-wrap: normal
    }
}

@media (min-width:451px) and (max-width:767px) {
    .ad9htbm {
        position: absolute;
        border: 0;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        word-wrap: normal
    }
}

@media (min-width:0px) and (max-width:1499px) {
    .ad9htbq {
        position: absolute;
        border: 0;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        word-wrap: normal
    }
}

@media (min-width:1500px) and (max-width:1999px) {
    .ad9htbr {
        position: absolute;
        border: 0;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        word-wrap: normal
    }
}

@media (min-width:2000px) {
    .ad9htbs {
        position: absolute;
        border: 0;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        word-wrap: normal
    }
}