.k7x6we0 {
    background: var(--_19z1c6dl);
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    z-index: var(--_19z1c6d5)
}

.k7x6we0,
.k7x6we1 {
    inset: 0;
    position: fixed
}

.k7x6we1 {
    overflow: hidden;
    z-index: var(--_19z1c6d6)
}

.k7x6we2 {
    position: absolute;
    top: var(--_19z1c6d2x);
    right: var(--_19z1c6d2x)
}

@media (min-width:768px) {
    .k7x6we2 {
        top: var(--_19z1c6d31);
        right: var(--_19z1c6d34)
    }
}

._141c7590[data-state=open] svg {
    transform: rotate(180deg)
}

._141c7591 {
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
    z-index: var(--_19z1c6d7);
    background: var(--_19z1c6dv);
    -webkit-mask-image: linear-gradient(180deg, rgba(0, 0, 0, .9) 0, rgba(0, 0, 0, .9) var(--_19z1c6d3c), #000 var(--_19z1c6d3c), #000 calc(100% - var(--_19z1c6d3b)), rgba(0, 0, 0, .9) calc(100% - var(--_19z1c6d3b)), rgba(0, 0, 0, .9) 100%);
    mask-image: linear-gradient(180deg, rgba(0, 0, 0, .9) 0, rgba(0, 0, 0, .9) var(--_19z1c6d3c), #000 var(--_19z1c6d3c), #000 calc(100% - var(--_19z1c6d3b)), rgba(0, 0, 0, .9) calc(100% - var(--_19z1c6d3b)), rgba(0, 0, 0, .9) 100%)
}

._141c7591,
._141c7592 {
    position: absolute;
    inset: 0
}

._141c7592 {
    padding-left: var(--_19z1c6d2x);
    padding-right: var(--_19z1c6d2x);
    padding-top: calc(var(--_19z1c6d32) + var(--_19z1c6d2w) + var(--_19z1c6d2x));
    padding-bottom: 0;
    display: flex;
    align-items: flex-start;
    pointer-events: none !important
}

._141c7593 {
    padding: var(--_19z1c6d2x);
    flex-direction: column;
    align-items: flex-start;
    background: var(--_19z1c6dd);
    position: relative;
    pointer-events: auto
}

._141c7593,
._141c7594 {
    display: flex;
    gap: var(--_19z1c6d2s);
    width: 100%
}

._141c7594 {
    justify-content: space-between;
    color: var(--_19z1c6di);
    font-size: var(--_19z1c6d2u);
    font-style: normal;
    line-height: 130%
}

._141c7595 {
    cursor: pointer
}

._141c7596 {
    color: var(--_19z1c6dh);
    font-size: var(--_19z1c6d2t);
    font-weight: 400;
    font-style: normal;
    line-height: 130%
}

@media (min-width:768px) {
    ._141c7590>svg {
        transform: rotate(180deg)
    }
    ._141c7590[data-state=open] svg {
        transform: rotate(0deg)
    }
    ._141c7592 {
        align-items: center;
        padding: calc(var(--_19z1c6d32) + var(--_19z1c6d3b)) var(--_19z1c6d34)
    }
    ._141c7593,
    ._141c7594 {
        gap: var(--_19z1c6d2p)
    }
}

@media (min-width:0px) and (max-width:767px) {
    ._141c7591 {
        -webkit-mask-image: linear-gradient(180deg, rgba(0, 0, 0, .9) 0, rgba(0, 0, 0, .9) var(--_19z1c6d39), #000 var(--_19z1c6d39), #000 100%);
        mask-image: linear-gradient(180deg, rgba(0, 0, 0, .9) 0, rgba(0, 0, 0, .9) var(--_19z1c6d39), #000 var(--_19z1c6d39), #000 100%)
    }
}

._82hq4b0[data-state=open] {
    z-index: var(--_19z1c6d8)
}

._82hq4b1 {
    z-index: var(--_19z1c6d7)
}