._1qqxuqe0 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-height: 100%;
    gap: var(--_19z1c6d2u)
}

._1qqxuqe1 {
    color: var(--_19z1c6dh)
}

._1qqxuqe2,
.tntspp0 {
    width: 100%
}

.tntspp0 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 100%;
    overflow: hidden;
    gap: var(--_19z1c6d2p);
    color: var(--_19z1c6di)
}

.tntspp0:lang(ja),
.tntspp0:lang(ko),
.tntspp0:lang(zh) {
    gap: var(--_19z1c6d2s)
}

@media (min-width:768px) {
    .tntspp0 {
        justify-content: center
    }
}

.mrf7b90 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    gap: var(--_19z1c6d2p);
    color: var(--_19z1c6di)
}

.mrf7b90:lang(ja),
.mrf7b90:lang(ko),
.mrf7b90:lang(zh) {
    gap: var(--_19z1c6d2s)
}

@media (min-width:768px) {
    .mrf7b90 {
        justify-content: center
    }
}

._12q75i50 {
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    position: fixed;
    width: 100vw;
    padding: var(--_19z1c6d2w) var(--_19z1c6d2x);
    overflow: visible;
    z-index: var(--_19z1c6d4)
}

._12q75i50,
._12q75i51:after {
    pointer-events: none;
    display: flex;
    left: 0;
    right: 0;
    top: 0
}

._12q75i51:after {
    content: "";
    position: absolute;
    background: radial-gradient(115% 160% at 50% -50%, rgba(17, 17, 23, .8) 35%, rgba(17, 17, 23, .65) 50%, transparent 90%);
    bottom: 0;
    z-index: -1;
    height: 125%
}

._12q75i53 {
    opacity: 0;
    pointer-events: none;
    position: fixed;
    left: var(--_19z1c6d2z) !important;
    top: var(--_19z1c6d31) !important;
    z-index: 2
}

._12q75i53:focus {
    opacity: 1;
    pointer-events: auto
}

._12q75i54 {
    cursor: pointer;
    pointer-events: auto
}

._12q75i55 {
    justify-self: start;
    flex: 1 1;
    display: flex;
    align-items: center
}

._12q75i55:before {
    content: "";
    display: inline-block;
    height: var(--_19z1c6d2w);
    background: var(--_19z1c6df);
    width: var(--foundry_eec1a90b);
    margin-left: var(--_19z1c6d2p);
    margin-right: var(--_19z1c6d2q)
}

._12q75i56 {
    pointer-events: auto
}

._12q75i57 {
    display: none
}

._12q75i58 {
    pointer-events: auto;
    position: fixed;
    top: var(--_19z1c6d2w);
    right: var(--_19z1c6d2x);
    z-index: var(--_19z1c6d8)
}

._12q75i58[aria-hidden=true] {
    opacity: .2;
    pointer-events: none
}

@media (min-width:768px) {
    ._12q75i50 {
        padding: var(--_19z1c6d31) var(--_19z1c6d34)
    }
    ._12q75i54:hover {
        color: var(--_19z1c6dr)
    }
    ._12q75i54:active {
        color: var(--_19z1c6ds)
    }
    ._12q75i58 {
        top: var(--_19z1c6d31);
        right: var(--_19z1c6d34)
    }
}

@media (min-width:0px) and (max-width:767px) {
    ._12q75i53 {
        left: 50%;
        top: var(--_19z1c6d2w) !important;
        transform: translateX(-50%) !important
    }
}