._18g0m2t0 {
    display: inline-flex;
    cursor: pointer;
    transition: all .2s ease-in-out;
    transition-property: color, background-color, outline-color;
    border: 1px solid var(--_19z1c6df);
    border-color: var(--_19z1c6df);
    color: var(--_19z1c6di);
    outline-width: 4px;
    outline-style: solid;
    outline-offset: 4px;
    outline-color: transparent;
    text-align: left;
    gap: var(--foundry_05387de1) var(--foundry_f21302a9);
    justify-content: center
}

._18g0m2t0:hover {
    background: var(--_19z1c6dd)
}

._18g0m2t0:disabled {
    cursor: not-allowed
}

._18g0m2t0:focus {
    outline-color: var(--_19z1c6di)
}

._18g0m2t0[data-pressed=true] {
    background: var(--_19z1c6de)
}

._18g0m2t1 {
    display: flex;
    align-items: center;
    gap: var(--foundry_ae99fc48);
    font-size: var(--foundry_caf3b782);
    font-weight: var(--foundry_751d319e);
    line-height: 150%;
    text-transform: uppercase
}

._18g0m2t2 {
    font-size: var(--foundry_2a8e6da3);
    font-weight: var(--foundry_c2af3245);
    letter-spacing: -.025em;
    line-height: 150%;
    text-wrap: initial
}

._18g0m2t4 {
    width: var(--foundry_8149e8c1);
    height: var(--foundry_8149e8c1)
}

@media (min-width:0px) and (max-width:767px) {
    ._18g0m2t0 {
        border-radius: var(--foundry_ece22bd6);
        padding: var(--foundry_2f9fe0c5) var(--foundry_f21302a9);
        flex-wrap: wrap;
        flex-shrink: 0;
        flex-direction: row;
        max-width: var(--foundry_7c37a31a)
    }
    ._18g0m2t1 {
        text-align: center;
        flex-wrap: wrap;
        justify-content: center
    }
}

@media (min-width:768px) {
    ._18g0m2t0 {
        border-radius: var(--foundry_8c8d51e6);
        padding: var(--foundry_2f9fe0c5) var(--foundry_0fe0ec68);
        align-items: center
    }
    ._18g0m2t1 {
        text-wrap: initial;
        gap: var(--foundry_7f268a13);
        height: -moz-fit-content;
        height: fit-content
    }
    ._18g0m2t2 {
        max-width: var(--foundry_7c37a31a)
    }
    ._18g0m2t3 {
        line-height: var(--foundry_8149e8c1)
    }
    ._18g0m2t4 {
        min-width: var(--foundry_8149e8c1);
        height: auto
    }
}

@media (min-width:0px) and (max-width:767px) {
    ._18g0m2t2 {
        text-align: center
    }
}

._7t6vj30 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--foundry_2f9fe0c5)
}

._7t6vj31 {
    gap: var(--foundry_05387de1)
}

._7t6vj32 {
    color: var(--_19z1c6di);
    font-size: var(--foundry_ed2e8eb5);
    font-weight: var(--foundry_4d05ca0a);
    line-height: var(--foundry_1468e63f);
    letter-spacing: -.75px
}

._7t6vj33 {
    color: var(--_19z1c6dh);
    font-size: var(--foundry_9b30a1c2);
    font-weight: var(--foundry_c543d620);
    line-height: var(--foundry_dc282d1f);
    letter-spacing: -.5px;
    text-wrap: unset
}

._7t6vj34 {
    width: var(--foundry_bbdfa298);
    height: auto;
    color: var(--foundry_3eef4ce2)
}

._7t6vj35 {
    color: var(--foundry_e23133ed)
}

._7t6vj36 {
    color: var(--foundry_615a4836)
}

._7t6vj37 {
    display: flex;
    align-items: center;
    width: 100%
}

@media (min-width:0px) and (max-width:767px) {
    ._7t6vj37 {
        justify-content: center;
        flex-direction: column;
        align-content: center;
        align-items: stretch;
        gap: var(--_19z1c6d2s);
        text-align: center
    }
}

@media (min-width:768px) {
    ._7t6vj37 {
        gap: var(--_19z1c6d2s)
    }
}

@keyframes _1hxgg170 {
    0% {
        opacity: 0;
        transform: translate(-50%, calc(-50% + 15px))
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%)
    }
}

@keyframes _1hxgg171 {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%)
    }
    to {
        opacity: 0;
        transform: translate(-50%, calc(-50% + 25px))
    }
}

._1hxgg172 {
    overflow: visible !important
}

._1hxgg173 {
    flex-shrink: unset
}

._1hxgg174 {
    width: 100%;
    margin: 0 auto;
    background: var(--_19z1c6do);
    z-index: var(--_19z1c6d6);
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, .45);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-height: 95vh;
    padding: var(--foundry_d02b9116);
    gap: var(--foundry_2f9fe0c5);
    transform: translate(0);
    overflow: auto
}

._1hxgg174:focus {
    outline: none
}

._1hxgg175 {
    position: unset
}

@media (min-width:0px) and (max-width:767px) {
    ._1hxgg172 {
        display: flex;
        flex-direction: column;
        padding: 0
    }
}

@media (min-width:768px) {
    ._1hxgg173 {
        grid-column: span 12
    }
    ._1hxgg174 {
        max-width: 800px;
        border-radius: var(--foundry_742803b2);
        position: fixed;
        top: 50%;
        bottom: auto;
        left: 50%;
        transform: translate(-50%, -50%)
    }
    ._1hxgg174[data-state=open] {
        animation-name: _1hxgg170 !important;
        animation-duration: .15s;
        animation-timing-function: ease-in-out
    }
    ._1hxgg174[data-state=closed] {
        animation-name: _1hxgg171 !important;
        animation-duration: .15s;
        animation-timing-function: ease-in-out
    }
}