@keyframes _1v4b2b85 {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes _1v4b2b86 {
    0% {
        opacity: 0;
        -webkit-backdrop-filter: blur(150px) brightness(1) saturate(1);
        backdrop-filter: blur(150px) brightness(1) saturate(1)
    }
    to {
        opacity: 1;
        -webkit-backdrop-filter: blur(150px) brightness(1.2) saturate(2.5);
        backdrop-filter: blur(150px) brightness(1.2) saturate(2.5)
    }
}

@keyframes _1v4b2b87 {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes _1v4b2b88 {
    0% {
        right: -100%
    }
    to {
        right: 0
    }
}

@keyframes _1v4b2b89 {
    0% {
        right: var(--_1v4b2b81)
    }
    to {
        right: 0
    }
}

@keyframes _1v4b2b8a {
    0% {
        opacity: 0;
        transform: translateY(35px)
    }
    to {
        opacity: 1;
        transform: translateY(0)
    }
}

._1v4b2b8b {
    --_1v4b2b80: 50vw;
    --_1v4b2b81: -50%;
    --_1v4b2b82: 0.5s;
    --_1v4b2b83: cubic-bezier(0.645, 0.045, 0.355, 1);
    --_1v4b2b84: cubic-bezier(0.42, 0, 0.58, 1);
    width: 100%;
    height: 100dvh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100%;
    position: relative;
    pointer-events: auto
}

._1v4b2b8c {
    background: var(--_19z1c6dk);
    -webkit-backdrop-filter: blur(150px) brightness(1) saturate(1);
    backdrop-filter: blur(150px) brightness(1) saturate(1);
    inset: 0;
    opacity: 0;
    width: 100vw;
    animation-duration: var(--_1v4b2b82);
    animation-fill-mode: forwards;
    animation-timing-function: var(--_1v4b2b84)
}

._1v4b2b8c[data-state=open],
[data-state=open] ._1v4b2b8c {
    animation-name: _1v4b2b86
}

._1v4b2b8d {
    display: none;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: calc(100vw - var(--_1v4b2b80));
    opacity: 0;
    animation-duration: 1s;
    animation-delay: .25s;
    animation-fill-mode: forwards;
    animation-timing-function: var(--_1v4b2b84)
}

._1v4b2b8d[data-state=open],
[data-state=open] ._1v4b2b8d {
    animation-name: _1v4b2b87
}

._1v4b2b8e {
    width: clamp(20vh, 35%, 50vh);
    height: auto;
    filter: drop-shadow(0 0 164px #FFF);
    will-change: filter;
    color: var(--_19z1c6di)
}

._1v4b2b8f {
    opacity: 1;
    transition: opacity 1s cubic-bezier(.55, .085, .68, .53)
}

._1v4b2b8g {
    opacity: 0;
    transition: opacity .2s ease
}

._1v4b2b8h {
    object-fit: cover;
    position: absolute;
    width: calc(100% + 300px);
    height: 100%;
    top: 0;
    left: 0
}

._1v4b2b8i {
    transition: opacity .25s ease-in-out
}

._1v4b2b8k {
    position: fixed;
    height: 100%;
    width: 85vw;
    background: var(--_1nfc5sta);
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-rows: min-content 1fr min-content;
    grid-template-areas: "footer" "tab" "list";
    align-items: center;
    animation-duration: var(--_1v4b2b82);
    animation-fill-mode: forwards;
    animation-timing-function: var(--_1v4b2b83)
}

._1v4b2b8l,
._1v4b2b8m {
    background: var(--_19z1c6dv)
}

._1v4b2b8n {
    color: var(--_19z1c6dh);
    margin-bottom: var(--_19z1c6d2q)
}

._1v4b2b8n,
._1v4b2b8o {
    text-transform: uppercase
}

._1v4b2b8o {
    font-size: var(--_19z1c6d2z);
    text-decoration: none;
    color: var(--_19z1c6di);
    outline: 2px solid transparent;
    outline-offset: -2px
}

._1v4b2b8o:hover {
    color: var(--_19z1c6dr)
}

._1v4b2b8o:focus-visible {
    color: var(--_19z1c6dr);
    outline-color: var(--_19z1c6di)
}

._1v4b2b8o:lang(ja),
._1v4b2b8o:lang(ko),
._1v4b2b8o:lang(zh) {
    font-size: var(--_19z1c6d2v)
}

._1v4b2b8p {
    color: var(--_1nfc5st8)
}

._1v4b2b8p:focus-visible,
._1v4b2b8p:hover {
    color: var(--_1nfc5st8)
}

._1v4b2b8r {
    opacity: 0;
    grid-area: list;
    animation-duration: var(--_1v4b2b82);
    animation-fill-mode: forwards;
    animation-timing-function: var(--_1v4b2b83)
}

._1v4b2b8s {
    position: relative;
    grid-area: tab;
    padding: var(--_19z1c6d2s) var(--_19z1c6d2x) var(--_19z1c6d2x);
    -webkit-mask-image: linear-gradient(180deg, transparent 0, #000 var(--_19z1c6d2s), #000 calc(100% - var(--_19z1c6d2x)), transparent 100%), linear-gradient(to left, #000 5px, transparent 17px);
    mask-image: linear-gradient(180deg, transparent 0, #000 var(--_19z1c6d2s), #000 calc(100% - var(--_19z1c6d2x)), transparent 100%), linear-gradient(to left, #000 5px, transparent 17px);
    height: 100%;
    overflow-y: auto;
    opacity: 0;
    animation-name: _1v4b2b85;
    animation-duration: var(--_1v4b2b82) !important;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in !important
}

._1v4b2b8t {
    grid-area: footer;
    padding: var(--_19z1c6d2x);
    display: flex;
    padding-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    gap: var(--_19z1c6d2u);
    align-items: center;
    opacity: 0;
    animation-name: _1v4b2b85;
    animation-duration: var(--_1v4b2b82);
    animation-fill-mode: forwards;
    animation-timing-function: ease-in
}

@media (min-width:0px) and (max-width:767px) {
    ._1v4b2b8k {
        right: -100%;
        height: 100dvh
    }
    ._1v4b2b8k[data-state=open],
    [data-state=open] ._1v4b2b8k {
        animation-name: _1v4b2b88
    }
}

@media (min-width:0px) and (max-width:767px) and (orientation:landscape) {
    ._1v4b2b8d {
        display: flex
    }
    ._1v4b2b8k {
        width: var(--_1v4b2b80)
    }
}

@media (min-width:768px) {
    ._1v4b2b8b {
        grid-template-columns: 1fr 1fr
    }
    ._1v4b2b8c,
    ._1v4b2b8d {
        display: flex
    }
    ._1v4b2b8k {
        right: var(--_1v4b2b81);
        width: var(--_1v4b2b80);
        grid-template-areas: "list" "tab" "footer"
    }
    ._1v4b2b8k[data-state=open],
    [data-state=open] ._1v4b2b8k {
        animation-name: _1v4b2b89
    }
    ._1v4b2b8n {
        display: none
    }
    ._1v4b2b8o {
        font-size: clamp(55px, var(--_19z1c6d34), 7vh)
    }
    ._1v4b2b8o:lang(ja),
    ._1v4b2b8o:lang(ko),
    ._1v4b2b8o:lang(zh) {
        font-size: min(var(--_19z1c6d2z), 6vh)
    }
}

@media (min-width:768px) and (max-width:1279px) {
    ._1v4b2b8b {
        --_1v4b2b80: 60vw;
        --_1v4b2b81: -60%
    }
}

@media (min-aspect-ratio:2) {
    ._1v4b2b8b {
        --_1v4b2b80: max(40vw, 100vh)
    }
}

@media (min-width:0px) and (max-width:767px) {
    ._1v4b2b8r {
        transform: translateY(35px);
        animation-name: _1v4b2b8a;
        animation-duration: calc(var(--_1v4b2b82) * 1.75);
        animation-timing-function: `cubic-bezier(.6, .04, .98, .335)
    }
}

@media (min-width:768px) {
    ._1v4b2b8r {
        animation-name: _1v4b2b85
    }
    ._1v4b2b8s {
        -webkit-mask-image: linear-gradient(180deg, transparent 0, #000 var(--_19z1c6d31), #000 calc(100% - var(--_19z1c6d31)), transparent 100%), linear-gradient(to left, #000 5px, transparent 17px);
        mask-image: linear-gradient(180deg, transparent 0, #000 var(--_19z1c6d31), #000 calc(100% - var(--_19z1c6d31)), transparent 100%), linear-gradient(to left, #000 5px, transparent 17px);
        padding: var(--_19z1c6d31) var(--_19z1c6d34)
    }
    ._1v4b2b8t {
        padding: var(--_19z1c6d2x) var(--_19z1c6d34);
        padding-top: 0;
        justify-content: space-between
    }
}

._3hbd9z0 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--_19z1c6d2u);
    align-self: stretch;
    min-height: 100%
}

._3hbd9z1 {
    display: -webkit-box;
    font-style: normal;
    font-size: var(--_19z1c6d2u);
    letter-spacing: -.0125em;
    color: var(--_19z1c6di);
    text-align: left;
    line-height: 120%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2
}

._3hbd9z2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--_19z1c6d2s) 0;
    width: 100%
}

@media (min-width:768px) {
    ._3hbd9z0 {
        justify-content: center;
        gap: var(--_19z1c6d2s)
    }
}

@media (min-width:0px) and (max-width:767px) {
    ._3hbd9z0 {
        justify-content: flex-start
    }
}