._19z1c6d3 {
    --_19z1c6d4: 10;
    --_19z1c6d5: 100;
    --_19z1c6d6: 110;
    --_19z1c6d7: 120;
    --_19z1c6d8: 121;
    --_19z1c6d9: 200;
    --_19z1c6da: 300;
    --_19z1c6db: 301;
    --_19z1c6dc: 9999;
    --_19z1c6dd: hsla(0, 0%, 100%, .05);
    --_19z1c6de: hsla(0, 0%, 100%, .1);
    --_19z1c6df: hsla(0, 0%, 100%, .2);
    --_19z1c6dg: hsla(0, 0%, 100%, .3);
    --_19z1c6dh: hsla(0, 0%, 100%, .6);
    --_19z1c6di: #fff;
    --_19z1c6dj: rgba(17, 17, 23, .3);
    --_19z1c6dk: rgba(17, 17, 23, .6);
    --_19z1c6dl: rgba(17, 17, 23, .8);
    --_19z1c6dm: #111117;
    --_19z1c6dn: #111117;
    --_19z1c6do: #1d1d23;
    --_19z1c6dp: #29292e;
    --_19z1c6dq: #313137;
    --_19z1c6dr: #fff9cb;
    --_19z1c6ds: #ebe5b7;
    --_19z1c6dt: #36364e;
    --_19z1c6du: #ffb0c4;
    --_19z1c6dv: linear-gradient(223.17deg, #1c1829, #1b1828 8.61%, #191724 17.21%, #161520 25.82%, #14131c 34.42%, #121218 43.03%, #111117 51.63%);
    --_19z1c6dw: #ed9db1;
    --_19z1c6dx: #eb9cb0;
    --_19z1c6dy: #2c2c44;
    --_19z1c6dz: #e192a6;
    --_19z1c6d10: #d7889c;
    --_19z1c6d11: #22223a;
    --_19z1c6d12: rgba(54, 54, 78, .5);
    --_19z1c6d13: rgba(255, 176, 196, .5);
    --_19z1c6d14: #28375c;
    --_19z1c6d15: #91dfec;
    --_19z1c6d16: linear-gradient(223.17deg, #237287, #246c84 8.61%, #265f7c 17.21%, #274f72 25.82%, #284367 34.42%, #283a5f 43.03%, #28375c 51.63%);
    --_19z1c6d17: #68bac8;
    --_19z1c6d18: #69b7c4;
    --_19z1c6d19: #1e2d52;
    --_19z1c6d1a: #5fadba;
    --_19z1c6d1b: #55a3b0;
    --_19z1c6d1c: #142348;
    --_19z1c6d1d: rgba(40, 55, 92, .5);
    --_19z1c6d1e: rgba(95, 173, 186, .5);
    --_19z1c6d1f: #694775;
    --_19z1c6d1g: #ffc2d0;
    --_19z1c6d1h: linear-gradient(223.17deg, #8c7bc8, #8a77c2 8.61%, #866db2 17.21%, #7e619f 25.82%, #75548b 34.42%, #6d4b7b 43.03%, #694775 51.63%);
    --_19z1c6d1i: #ebadbb;
    --_19z1c6d1j: #ebaebc;
    --_19z1c6d1k: #5f3d6b;
    --_19z1c6d1l: #e1a4b2;
    --_19z1c6d1m: #d79aa8;
    --_19z1c6d1n: #553361;
    --_19z1c6d1o: rgba(105, 71, 117, .5);
    --_19z1c6d1p: rgba(225, 164, 178, .5);
    --_19z1c6d1q: #723a5f;
    --_19z1c6d1r: #ffc484;
    --_19z1c6d1s: linear-gradient(223.17deg, #c36267, #bd5f68 8.61%, #ae586a 17.21%, #9b4e69 25.82%, #874466 34.42%, #783d61 43.03%, #723a5f 51.63%);
    --_19z1c6d1t: #ebadbb;
    --_19z1c6d1u: #ebb070;
    --_19z1c6d1v: #683055;
    --_19z1c6d1w: #e1a666;
    --_19z1c6d1x: #e1a666;
    --_19z1c6d1y: #5e264b;
    --_19z1c6d1z: rgba(114, 58, 95, .5);
    --_19z1c6d20: hsla(31, 67%, 64%, .5);
    --_19z1c6d21: #323953;
    --_19z1c6d22: #ffff7e;
    --_19z1c6d23: linear-gradient(223.17deg, #545b75, #515872 8.61%, #4a526c 17.21%, #424964 25.82%, #3a415c 34.42%, #343b56 43.03%, #323953 51.63%);
    --_19z1c6d24: #eeee69;
    --_19z1c6d25: #e1e160;
    --_19z1c6d26: #282f49;
    --_19z1c6d27: #e1e160;
    --_19z1c6d28: #cdcd4c;
    --_19z1c6d29: #1e253f;
    --_19z1c6d2a: rgba(50, 57, 83, .5);
    --_19z1c6d2b: rgba(225, 225, 96, .5);
    --_19z1c6d2c: #2c4234;
    --_19z1c6d2d: #ffed95;
    --_19z1c6d2e: linear-gradient(223.17deg, #515d47, #4e5b45 8.61%, #45563f 17.21%, #3a5039 25.82%, #324936 34.42%, #2e4435 43.03%, #2c4234 51.63%);
    --_19z1c6d2f: #e4ca6e;
    --_19z1c6d2g: #d4bb63;
    --_19z1c6d2h: #22382a;
    --_19z1c6d2i: #d4bb63;
    --_19z1c6d2j: #c0a74f;
    --_19z1c6d2k: #182e20;
    --_19z1c6d2l: rgba(44, 66, 52, .5);
    --_19z1c6d2m: rgba(212, 187, 99, .5);
    --_19z1c6d2n: min(calc(1vw / var(--_19z1c6d0)), calc(var(--_19z1c6d1) * 0.01 / var(--_19z1c6d0)));
    --_19z1c6d2o: min(calc(1.5vw / var(--_19z1c6d0)), calc(var(--_19z1c6d1) * 0.015 / var(--_19z1c6d0)));
    --_19z1c6d2p: min(calc(2vw / var(--_19z1c6d0)), calc(var(--_19z1c6d1) * 0.02 / var(--_19z1c6d0)));
    --_19z1c6d2q: min(calc(3vw / var(--_19z1c6d0)), calc(var(--_19z1c6d1) * 0.03 / var(--_19z1c6d0)));
    --_19z1c6d2r: min(calc(3.5vw / var(--_19z1c6d0)), calc(var(--_19z1c6d1) * 0.035 / var(--_19z1c6d0)));
    --_19z1c6d2s: min(calc(4vw / var(--_19z1c6d0)), calc(var(--_19z1c6d1) * 0.04 / var(--_19z1c6d0)));
    --_19z1c6d2t: min(calc(4.5vw / var(--_19z1c6d0)), calc(var(--_19z1c6d1) * 0.045 / var(--_19z1c6d0)));
    --_19z1c6d2u: min(calc(5vw / var(--_19z1c6d0)), calc(var(--_19z1c6d1) * 0.05 / var(--_19z1c6d0)));
    --_19z1c6d2v: min(calc(6vw / var(--_19z1c6d0)), calc(var(--_19z1c6d1) * 0.06 / var(--_19z1c6d0)));
    --_19z1c6d2w: min(calc(7vw / var(--_19z1c6d0)), calc(var(--_19z1c6d1) * 0.07 / var(--_19z1c6d0)));
    --_19z1c6d2x: min(calc(8vw / var(--_19z1c6d0)), calc(var(--_19z1c6d1) * 0.08 / var(--_19z1c6d0)));
    --_19z1c6d2y: min(calc(9vw / var(--_19z1c6d0)), calc(var(--_19z1c6d1) * 0.09 / var(--_19z1c6d0)));
    --_19z1c6d2z: min(calc(10vw / var(--_19z1c6d0)), calc(var(--_19z1c6d1) * 0.1 / var(--_19z1c6d0)));
    --_19z1c6d30: min(calc(11vw / var(--_19z1c6d0)), calc(var(--_19z1c6d1) * 0.11 / var(--_19z1c6d0)));
    --_19z1c6d31: min(calc(12vw / var(--_19z1c6d0)), calc(var(--_19z1c6d1) * 0.12 / var(--_19z1c6d0)));
    --_19z1c6d32: min(calc(13vw / var(--_19z1c6d0)), calc(var(--_19z1c6d1) * 0.13 / var(--_19z1c6d0)));
    --_19z1c6d33: min(calc(14vw / var(--_19z1c6d0)), calc(var(--_19z1c6d1) * 0.14 / var(--_19z1c6d0)));
    --_19z1c6d34: min(calc(15vw / var(--_19z1c6d0)), calc(var(--_19z1c6d1) * 0.15 / var(--_19z1c6d0)));
    --_19z1c6d35: min(calc(16vw / var(--_19z1c6d0)), calc(var(--_19z1c6d1) * 0.16 / var(--_19z1c6d0)));
    --_19z1c6d36: min(calc(18vw / var(--_19z1c6d0)), calc(var(--_19z1c6d1) * 0.18 / var(--_19z1c6d0)));
    --_19z1c6d37: min(calc(19vw / var(--_19z1c6d0)), calc(var(--_19z1c6d1) * 0.19 / var(--_19z1c6d0)));
    --_19z1c6d38: min(calc(20vw / var(--_19z1c6d0)), calc(var(--_19z1c6d1) * 0.2 / var(--_19z1c6d0)));
    --_19z1c6d39: min(calc(22vw / var(--_19z1c6d0)), calc(var(--_19z1c6d1) * 0.22 / var(--_19z1c6d0)));
    --_19z1c6d3a: min(calc(23vw / var(--_19z1c6d0)), calc(var(--_19z1c6d1) * 0.23 / var(--_19z1c6d0)));
    --_19z1c6d3b: min(calc(24vw / var(--_19z1c6d0)), calc(var(--_19z1c6d1) * 0.24 / var(--_19z1c6d0)));
    --_19z1c6d3c: min(calc(28vw / var(--_19z1c6d0)), calc(var(--_19z1c6d1) * 0.28 / var(--_19z1c6d0)));
    --_19z1c6d3d: min(calc(32vw / var(--_19z1c6d0)), calc(var(--_19z1c6d1) * 0.32 / var(--_19z1c6d0)));
    --_19z1c6d3e: min(calc(34vw / var(--_19z1c6d0)), calc(var(--_19z1c6d1) * 0.34 / var(--_19z1c6d0)));
    --_19z1c6d3f: min(calc(36vw / var(--_19z1c6d0)), calc(var(--_19z1c6d1) * 0.36 / var(--_19z1c6d0)));
    --_19z1c6d3g: min(calc(40vw / var(--_19z1c6d0)), calc(var(--_19z1c6d1) * 0.4 / var(--_19z1c6d0)));
    --_19z1c6d3h: min(calc(44vw / var(--_19z1c6d0)), calc(var(--_19z1c6d1) * 0.44 / var(--_19z1c6d0)));
    --_19z1c6d3i: min(calc(48vw / var(--_19z1c6d0)), calc(var(--_19z1c6d1) * 0.48 / var(--_19z1c6d0)));
    --_19z1c6d3j: min(calc(52vw / var(--_19z1c6d0)), calc(var(--_19z1c6d1) * 0.52 / var(--_19z1c6d0)));
    --_19z1c6d3k: min(calc(56vw / var(--_19z1c6d0)), calc(var(--_19z1c6d1) * 0.56 / var(--_19z1c6d0)));
    --_19z1c6d3l: min(calc(60vw / var(--_19z1c6d0)), calc(var(--_19z1c6d1) * 0.6 / var(--_19z1c6d0)));
    --_19z1c6d3m: min(calc(64vw / var(--_19z1c6d0)), calc(var(--_19z1c6d1) * 0.64 / var(--_19z1c6d0)));
    --_19z1c6d3n: min(calc(68vw / var(--_19z1c6d0)), calc(var(--_19z1c6d1) * 0.68 / var(--_19z1c6d0)));
    --_19z1c6d3o: min(calc(72vw / var(--_19z1c6d0)), calc(var(--_19z1c6d1) * 0.72 / var(--_19z1c6d0)));
    --_19z1c6d3p: min(calc(76vw / var(--_19z1c6d0)), calc(var(--_19z1c6d1) * 0.76 / var(--_19z1c6d0)));
    --_19z1c6d3q: min(calc(80vw / var(--_19z1c6d0)), calc(var(--_19z1c6d1) * 0.8 / var(--_19z1c6d0)));
    --_19z1c6d3r: min(calc(84vw / var(--_19z1c6d0)), calc(var(--_19z1c6d1) * 0.84 / var(--_19z1c6d0)));
    --_19z1c6d3s: min(calc(88vw / var(--_19z1c6d0)), calc(var(--_19z1c6d1) * 0.88 / var(--_19z1c6d0)));
    --_19z1c6d3t: min(calc(92vw / var(--_19z1c6d0)), calc(var(--_19z1c6d1) * 0.92 / var(--_19z1c6d0)));
    --_19z1c6d3u: min(calc(96vw / var(--_19z1c6d0)), calc(var(--_19z1c6d1) * 0.96 / var(--_19z1c6d0)));
    --_19z1c6d3v: min(calc(100vw / var(--_19z1c6d0)), calc(var(--_19z1c6d1) * 1 / var(--_19z1c6d0)));
    --_19z1c6d3w: min(calc(104vw / var(--_19z1c6d0)), calc(var(--_19z1c6d1) * 1.04 / var(--_19z1c6d0)));
    --_19z1c6d3x: min(calc(108vw / var(--_19z1c6d0)), calc(var(--_19z1c6d1) * 1.08 / var(--_19z1c6d0)));
    --_19z1c6d3y: min(calc(112vw / var(--_19z1c6d0)), calc(var(--_19z1c6d1) * 1.12 / var(--_19z1c6d0)))
}

:root {
    --_19z1c6d0: 1;
    --_19z1c6d1: 2560px;
    --_19z1c6d2: max(5vw, 10vh)
}

body,
html {
    color-scheme: dark;
    min-height: 100vh;
    overflow-x: hidden;
    -webkit-text-size-adjust: none
}

body {
    background: #111117;
    overscroll-behavior: none
}

html:has(#data-body[data-scroll-locked]),
html:has(div[data-loading]) {
    overflow-x: unset;
    overflow: hidden !important;
    overscroll-behavior: contain;
    position: relative;
    padding-left: 0;
    padding-top: 0;
    padding-right: 0;
    margin-left: 0;
    margin-top: 0;
    margin-right: 0 !important
}

#data-body:has(div[data-loading]),
#data-body[data-scroll-locked] {
    overflow-x: unset;
    overflow: hidden !important;
    overscroll-behavior: contain;
    position: relative;
    padding-left: 0;
    padding-top: 0;
    padding-right: 0;
    margin-left: 0;
    margin-top: 0;
    margin-right: 0 !important
}

@media (min-width:0px) and (max-width:767px) and (orientation:landscape) {
    :root {
        --_19z1c6d0: 2
    }
}

@media (min-width:768px) and (max-width:1023px) {
    :root {
        --_19z1c6d0: 3
    }
}

@media (min-width:1024px) and (max-width:1279px) {
    :root {
        --_19z1c6d0: 3
    }
}

@media (min-width:1280px) and (max-width:1439px) {
    :root {
        --_19z1c6d0: 3.5
    }
}

@media (min-width:1440px) {
    :root {
        --_19z1c6d0: 4
    }
}