._11rw0480[data-state=open] svg:last-of-type {
    transform: rotate(180deg)
}

._11rw0481 {
    max-height: var(--radix-select-content-available-height);
    max-width: var(--radix-select-content-available-width);
    margin-left: calc(var(--_19z1c6d2s) * -1)
}

._11rw0482 {
    display: flex;
    flex-direction: column;
    gap: var(--_19z1c6d2v);
    padding: var(--_19z1c6d2s)
}

._11rw0483 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: var(--_19z1c6d2s);
    line-height: 130%;
    font-size: var(--_19z1c6d2u);
    color: var(--_19z1c6di);
    cursor: pointer
}

._11rw0483[data-state=checked] {
    color: var(--_1nfc5st8)
}

._11rw0483:focus-visible {
    outline: none
}

._11rw0484 {
    width: var(--_19z1c6d2t);
    height: var(--_19z1c6d2t)
}

._11rw0485 {
    color: var(--_19z1c6dh)
}

._11rw0483[data-highlighted] ._11rw0485,
._11rw0483[data-state=checked] ._11rw0485,
._11rw0483[data-state=unchecked] ._11rw0486 {
    display: none
}

._11rw0483[data-highlighted][data-state=unchecked] ._11rw0486 {
    display: block
}

@media (min-width:768px) {
    ._11rw0480 svg:last-of-type {
        transform: rotate(180deg)
    }
    ._11rw0480[data-state=open] svg:last-of-type {
        transform: rotate(0deg)
    }
}

._1h4wftv0[data-state=open] {
    z-index: var(--_19z1c6d8);
    pointer-events: none
}

._1h4wftv1 {
    overflow: hidden;
    -webkit-mask-image: linear-gradient(180deg, transparent 0, #000 var(--_19z1c6d2x), #000 calc(100% - var(--_19z1c6d31)), transparent 100%);
    mask-image: linear-gradient(180deg, transparent 0, #000 var(--_19z1c6d2x), #000 calc(100% - var(--_19z1c6d31)), transparent 100%);
    height: 100%
}

._1h4wftv0+[data-radix-popper-content-wrapper] {
    inset: 0;
    padding: var(--_19z1c6d3b) var(--_19z1c6d2x);
    padding-bottom: 0;
    position: absolute !important;
    transform: translateX(0) !important;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background: var(--_19z1c6dv);
    z-index: var(--_19z1c6d7) !important;
    -webkit-mask-image: linear-gradient(180deg, rgba(0, 0, 0, .9) 0, rgba(0, 0, 0, .9) var(--_19z1c6d3b), #000 var(--_19z1c6d3b), #000 calc(100% - var(--_19z1c6d3b)), #000 100%);
    mask-image: linear-gradient(180deg, rgba(0, 0, 0, .9) 0, rgba(0, 0, 0, .9) var(--_19z1c6d3b), #000 var(--_19z1c6d3b), #000 calc(100% - var(--_19z1c6d3b)), #000 100%)
}

@media (min-width:768px) {
    ._1h4wftv0+[data-radix-popper-content-wrapper] {
        padding: var(--_19z1c6d3c) var(--_19z1c6d34) var(--_19z1c6d39);
        -webkit-mask-image: linear-gradient(180deg, rgba(0, 0, 0, .9) 0, rgba(0, 0, 0, .9) var(--_19z1c6d3c), #000 var(--_19z1c6d3c), #000 calc(100% - var(--_19z1c6d39)), rgba(0, 0, 0, .9) calc(100% - var(--_19z1c6d39)), rgba(0, 0, 0, .9) 100%);
        mask-image: linear-gradient(180deg, rgba(0, 0, 0, .9) 0, rgba(0, 0, 0, .9) var(--_19z1c6d3c), #000 var(--_19z1c6d3c), #000 calc(100% - var(--_19z1c6d39)), rgba(0, 0, 0, .9) calc(100% - var(--_19z1c6d39)), rgba(0, 0, 0, .9) 100%)
    }
}