@media (min-width:0px) and (max-width:767px) {
    body {
        --_1uw8doi0: 4;
        --_1uw8doi3: var(--foundry_7f268a13);
        --_1uw8doi2: 13vw
    }
}

@media (min-width:0px) and (max-width:767px) and (orientation:landscape) {
    body {
        --_1uw8doi2: 15vw
    }
}

@media (min-width:768px) and (max-width:1439px) {
    body {
        --_1uw8doi0: 12;
        --_1uw8doi3: var(--foundry_7d922174)
    }
}

@media (min-width:768px) and (max-width:1023px) {
    body {
        --_1uw8doi2: 7vw
    }
}

@media (min-width:1024px) and (max-width:1279px) {
    body {
        --_1uw8doi2: 7vw
    }
}

@media (min-width:1280px) and (max-width:1439px) {
    body {
        --_1uw8doi2: 9vw
    }
}

@media (min-width:1440px) {
    body {
        --_1uw8doi0: 12;
        --_1uw8doi3: var(--foundry_ee21f32b)
    }
}

@media (min-width:1440px) and (max-width:2559px) {
    body {
        --_1uw8doi2: 13vw
    }
}

@media (min-width:2560px) {
    body {
        --_1uw8doi2: 330px
    }
}

@layer herm1h0 {
    ._1uw8doi4 {
        --_1uw8doi1: calc(var(--_1uw8doi0) / 2);
        grid-gap: var(--_1uw8doi3);
        align-items: flex-start;
        align-content: flex-start;
        justify-content: flex-start;
        grid-template-columns: [main-start] 1fr [partial-start] repeat(calc(var(--_1uw8doi1) - 1), 1fr) [mid] repeat(calc(var(--_1uw8doi1) - 1), 1fr) [partial-end] 1fr [main-end];
        max-width: var(--_19z1c6d1);
        padding: 0 var(--_1uw8doi2);
        margin: 0 auto
    }
    ._1uw8doi4,
    ._1uw8doi5 {
        display: grid;
        gap: var(--_1uw8doi3)
    }
    ._1uw8doi5 {
        grid-gap: var(--_1uw8doi3);
        grid-template-columns: subgrid;
        grid-column: span var(--_1uw8doi1)
    }
    @media (min-width:0px) and (max-width:767px) {
        ._1uw8doi4 {
            grid-template-columns: [main-start] 1fr [partial-start] repeat(calc(var(--_1uw8doi1) - 1), 1fr) [mid] repeat(calc(var(--_1uw8doi1) - 1), 1fr) [partial-end] 1fr [main-end]
        }
        ._1uw8doi5 {
            grid-column: main
        }
    }
}