.foundry_a86h3z_v1yii71 {
    width: var(--foundry_2fbf5420);
    height: var(--foundry_2fbf5420)
}

.foundry_a86h3z_v1yii72 {
    width: var(--foundry_8149e8c1);
    height: var(--foundry_8149e8c1)
}

.foundry_a86h3z_v1yii73 {
    width: var(--foundry_b120da78);
    height: var(--foundry_b120da78)
}