._1092chn0 {
    cursor: pointer;
    display: inline-flex;
    text-align: center;
    flex-shrink: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: var(--foundry_8c8d51e6);
    border: none;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
    transition-property: color, background-color, outline-color
}

._1092chn0:disabled {
    cursor: not-allowed
}

._1092chn7,
._1092chn8 {
    padding: 0 !important;
    min-width: auto !important
}

._1092chna {
    min-height: var(--_19z1c6d32);
    gap: var(--_19z1c6d2p);
    padding: 0 var(--_19z1c6d2w)
}

._1092chna,
._1092chnb {
    min-width: var(--_19z1c6d3b)
}

._1092chnb {
    min-height: var(--_19z1c6d2z);
    gap: var(--_19z1c6d2n);
    padding: 0 var(--_19z1c6d2s)
}

._1092chng {
    padding-left: var(--_19z1c6d2v)
}

._1092chnh {
    padding-left: var(--_19z1c6d2r)
}

._1092chni {
    padding-right: var(--_19z1c6d2v)
}

._1092chnj {
    padding-right: var(--_19z1c6d2r)
}

._1092chnl {
    width: var(--_19z1c6d2s);
    height: var(--_19z1c6d2s)
}

._1092chnm {
    width: var(--_19z1c6d2r);
    height: var(--_19z1c6d2r)
}