@layer herm1h0;
@layer herm1h0.herm1h1;
@layer herm1h0.herm1h1.herm1h2 {
    .ic6qv70 {
        all: unset
    }
    *,
    :after,
    :before {
        box-sizing: border-box
    }
    * {
        margin: 0
    }
    body {
        -webkit-font-smoothing: antialiased;
        max-width: 100%;
        overflow-x: hidden;
        color-scheme: dark
    }
    canvas,
    img,
    picture,
    svg,
    video {
        display: block
    }
    button,
    input,
    select,
    textarea {
        font: inherit
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        overflow-wrap: break-word
    }
}