._9v8pu0 {
    align-items: center;
    border-radius: var(--foundry_8c8d51e6);
    display: flex;
    flex-direction: row;
    gap: var(--_19z1c6d2q);
    justify-content: center;
    min-width: var(--foundry_bbdfa298);
    padding: 0 var(--_19z1c6d2v)
}

._9v8pu3 {
    background: var(--_19z1c6dj)
}

._9v8pu4 {
    background: var(--_19z1c6dd)
}

._9v8pu5 {
    background: var(--_19z1c6dj)
}

._1nfc5stm ._9v8pu5 {
    background: var(--_19z1c6dd)
}

._9v8pu6 {
    min-height: var(--_19z1c6d32)
}

._9v8pu7 {
    min-height: var(--_19z1c6d2z)
}

._9v8pu8 {
    display: block;
    width: var(--_19z1c6d2p);
    height: var(--_19z1c6d2p);
    border-radius: var(--foundry_a97600a9)
}

._9v8pu9 {
    background: var(--_19z1c6di)
}

._9v8pua {
    background: var(--_19z1c6df)
}

._9v8pub {
    width: 100%;
    background: var(--_19z1c6dk)
}

._9v8pub,
._9v8puc {
    display: block;
    height: var(--_19z1c6d2n);
    border-radius: var(--foundry_5b3f01bf);
    overflow: hidden
}

._9v8puc {
    background: var(--_19z1c6di);
    transform: translateZ(0);
    will-change: width
}

@media (min-width:768px) {
    ._9v8pu1 {
        display: none
    }
}