@layer herm1h0 {
    ._1y9vcaw0 {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: var(--_19z1c6d2v);
        width: 100%
    }
    ._1y9vcaw2 {
        color: var(--_19z1c6di)
    }
    ._1y9vcaw3,
    ._1y9vcaw4 {
        color: var(--_19z1c6dr)
    }
    ._1y9vcaw4 {
        position: relative
    }
    ._1y9vcaw4:before {
        position: absolute;
        transform: translateX(-100%)
    }
    ._1y9vcaw4:lang(ja) {
        font-family: var(--da41a2)
    }
    ._1y9vcaw4:lang(ko) {
        font-family: var(--da42a2)
    }
    ._1y9vcaw4:lang(zh-CN) {
        font-family: var(--da43a2)
    }
    ._1y9vcaw4:lang(zh-TW) {
        font-family: var(--da44a2)
    }
    ._1y9vcaw5 {
        color: var(--_19z1c6dr)
    }
    ._1y9vcaw6 {
        color: var(--_1nfc5st8)
    }
    ._1y9vcaw8:after,
    ._1y9vcaw8:before {
        display: none
    }
    ._1y9vcawb {
        color: var(--_19z1c6di)
    }
}