.f09d600 {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    height: var(--_19z1c6d32);
    padding: 0 var(--_19z1c6d2v);
    color: var(--_19z1c6di);
    border-radius: var(--foundry_8c8d51e6);
    cursor: pointer;
    outline-width: 4px;
    outline-style: solid;
    outline-offset: -4px;
    outline-color: transparent;
    pointer-events: auto
}

.f09d600:hover {
    color: var(--_19z1c6dr)
}

.f09d600[data-active],
.f09d600[data-state=active] {
    background: var(--_19z1c6di);
    color: var(--_19z1c6dm)
}

.f09d600:not([data-active]):focus-visible,
.f09d600[data-state=inactive]:focus-visible {
    outline-color: var(--_19z1c6di)
}

.f09d600[data-active]:focus-visible,
.f09d600[data-state=active]:focus-visible {
    outline-color: var(--_19z1c6di);
    background: var(--_19z1c6dg);
    color: var(--_19z1c6di)
}

.f09d601 {
    margin-top: 0;
    max-width: 100%;
    overflow: hidden
}

.f09d604 {
    display: flex
}

@media (min-width:768px) {
    .f09d601 {
        margin: var(--_19z1c6d31) var(--_19z1c6d3c) var(--_19z1c6d31) var(--_19z1c6d2w);
        padding: 0 var(--_19z1c6d2x);
        margin-bottom: 0;
        width: auto
    }
}

@media (min-width:0px) and (max-width:767px) {
    .f09d600 {
        height: var(--_19z1c6d2z);
        padding: 0 var(--_19z1c6d2s)
    }
    .f09d601 {
        padding: var(--_19z1c6d2v) var(--_19z1c6d2x);
        background: var(--_19z1c6dv);
        border-top: 1px solid var(--_19z1c6de)
    }
    .f09d602:after {
        content: "";
        background: var(--_19z1c6dn);
        position: absolute;
        inset: 1px -1px;
        pointer-events: none;
        overflow: hidden;
        -webkit-mask-image: linear-gradient(90deg, #000 0, transparent var(--_19z1c6d2y), transparent calc(100% - var(--_19z1c6d2y)), #000 100%);
        mask-image: linear-gradient(90deg, #000 0, transparent var(--_19z1c6d2y), transparent calc(100% - var(--_19z1c6d2y)), #000 100%)
    }
}

@media (min-width:768px) {
    .f09d602 {
        -webkit-mask-image: linear-gradient(90deg, transparent 0, #000 var(--_19z1c6d2x), #000 calc(100% - var(--_19z1c6d2x)), transparent 100%);
        mask-image: linear-gradient(90deg, transparent 0, #000 var(--_19z1c6d2x), #000 calc(100% - var(--_19z1c6d2x)), transparent 100%)
    }
}