.foundry_a86h3z_klt7c80 {
    position: relative;
    isolation: isolate
}

.foundry_a86h3z_klt7c81 {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0
}

.foundry_a86h3z_klt7c82 {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1
}