.foundry_a86h3z_okz6z20 {
    color: var(--foundry_2d241861);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: var(--foundry_7f268a13)
}

.foundry_a86h3z_okz6z21 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: var(--foundry_8c8d51e6);
    border-width: var(--foundry_52cee49a);
    border-style: solid;
    border-color: var(--foundry_a7a37139);
    transition: all .1s ease-in-out
}

.foundry_a86h3z_okz6z21:has(input:focus-visible) {
    outline-width: 2px;
    outline-offset: 2px;
    outline-style: solid;
    outline-color: var(--foundry_b430db7d)
}

.foundry_a86h3z_okz6z22 {
    background-color: initial;
    color: var(--foundry_a7a37139)
}

.foundry_a86h3z_okz6z22:hover {
    border-color: var(--foundry_28436c1a);
    color: var(--foundry_28436c1a)
}

.foundry_a86h3z_okz6z22[data-state=selected],
.foundry_a86h3z_okz6z22[data-state=selected]:hover {
    border-color: var(--foundry_28436c1a);
    background-color: var(--foundry_28436c1a);
    color: var(--foundry_43aea341)
}

.foundry_a86h3z_okz6z22[data-disabled=true] {
    border-color: var(--foundry_54ccd69e);
    color: var(--foundry_54ccd69e);
    cursor: not-allowed
}

.foundry_a86h3z_okz6z22[data-state=selected][data-disabled=true] {
    border-color: var(--foundry_02700b85);
    background-color: var(--foundry_02700b85);
    color: var(--foundry_34e2f46b)
}

.foundry_a86h3z_okz6z23 {
    background-color: initial;
    border-color: var(--foundry_3eef4ce2);
    color: var(--foundry_3eef4ce2)
}

.foundry_a86h3z_okz6z23:hover {
    border-color: var(--foundry_bbecd7df);
    color: var(--foundry_bbecd7df)
}

.foundry_a86h3z_okz6z23[data-state=selected],
.foundry_a86h3z_okz6z23[data-state=selected]:hover {
    background-color: var(--foundry_bbecd7df);
    color: var(--foundry_2026f5f9)
}

.foundry_a86h3z_okz6z23[data-disabled=true] {
    border-color: var(--foundry_54ccd69e);
    color: var(--foundry_54ccd69e);
    cursor: not-allowed
}

.foundry_a86h3z_okz6z23[data-state=selected][data-disabled=true] {
    border-color: var(--foundry_02700b85);
    background-color: var(--foundry_02700b85);
    color: var(--foundry_34e2f46b)
}

.foundry_a86h3z_okz6z24 {
    width: var(--foundry_72b67c3c)
}

.foundry_a86h3z_okz6z25 {
    height: var(--foundry_1db78665)
}

.foundry_a86h3z_okz6z26 {
    width: var(--foundry_552f3071)
}

.foundry_a86h3z_okz6z27 {
    height: var(--foundry_8149e8c1)
}

.foundry_a86h3z_okz6z28 {
    box-sizing: border-box;
    border-radius: var(--foundry_8c8d51e6);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative
}

.foundry_a86h3z_okz6z29 {
    padding-left: 4px
}

.foundry_a86h3z_okz6z2a {
    padding-left: 5px
}

.foundry_a86h3z_okz6z2b {
    display: flex;
    flex-direction: column;
    gap: var(--foundry_ae99fc48)
}

.foundry_a86h3z_okz6z2c {
    color: var(--foundry_6c1b5f99)
}

.foundry_a86h3z_okz6z2d {
    padding-top: var(--foundry_2a51e690)
}

.foundry_a86h3z_okz6z2e {
    padding-top: var(--foundry_ae99fc48);
    gap: var(--foundry_05387de1)
}

.foundry_a86h3z_okz6z2f {
    margin: 0
}

.foundry_a86h3z_okz6z2i {
    color: var(--foundry_d5502516)
}

.foundry_a86h3z_okz6z2k {
    width: var(--foundry_2fbf5420)
}

.foundry_a86h3z_okz6z2l {
    height: var(--foundry_2fbf5420)
}

.foundry_a86h3z_okz6z2m {
    width: var(--foundry_2fbf5420)
}

.foundry_a86h3z_okz6z2n {
    height: var(--foundry_2fbf5420)
}

.foundry_a86h3z_okz6z2o {
    position: absolute;
    top: 0;
    bottom: 0;
    opacity: 0;
    margin: auto;
    transition: opacity 50ms ease-out;
    display: flex;
    align-items: center;
    justify-content: center
}

.foundry_a86h3z_okz6z2p {
    --foundry_a86h3z_okz6z2j: 5px
}

.foundry_a86h3z_okz6z2q {
    --foundry_a86h3z_okz6z2j: 7px
}

.foundry_a86h3z_okz6z2r {
    left: var(--foundry_a86h3z_okz6z2j);
    right: auto
}

.foundry_a86h3z_okz6z2s {
    left: auto;
    right: var(--foundry_a86h3z_okz6z2j)
}

.foundry_a86h3z_okz6z2v,
.foundry_a86h3z_okz6z2w {
    opacity: 1
}

.foundry_a86h3z_okz6z2y {
    width: var(--foundry_ea1fb93c)
}

.foundry_a86h3z_okz6z2z {
    height: var(--foundry_ea1fb93c)
}

.foundry_a86h3z_okz6z210 {
    width: var(--foundry_6d1e42fb)
}

.foundry_a86h3z_okz6z211 {
    height: var(--foundry_6d1e42fb)
}

.foundry_a86h3z_okz6z212 {
    display: flex;
    transition: transform 80ms ease-out;
    will-change: transform
}

.foundry_a86h3z_okz6z213 {
    --foundry_a86h3z_okz6z2x: var(--foundry_1db78665)
}

.foundry_a86h3z_okz6z214 {
    --foundry_a86h3z_okz6z2x: var(--foundry_8149e8c1)
}

.foundry_a86h3z_okz6z215 {
    transform: translateX(var(--foundry_a86h3z_okz6z2x))
}

@supports (width:round(1px, 1px)) {
    .foundry_a86h3z_okz6z24 {
        width: round(var(--foundry_72b67c3c), 2px)
    }
    .foundry_a86h3z_okz6z26 {
        width: round(var(--foundry_552f3071), 2px)
    }
    .foundry_a86h3z_okz6z2k,
    .foundry_a86h3z_okz6z2m {
        width: round(var(--foundry_2fbf5420), 2px)
    }
    .foundry_a86h3z_okz6z2y {
        width: round(var(--foundry_ea1fb93c), 2px)
    }
    .foundry_a86h3z_okz6z210 {
        width: round(var(--foundry_6d1e42fb), 2px)
    }
}

@supports (height:round(1px, 1px)) {
    .foundry_a86h3z_okz6z25 {
        height: round(var(--foundry_1db78665), 2px)
    }
    .foundry_a86h3z_okz6z27 {
        height: round(var(--foundry_8149e8c1), 2px)
    }
    .foundry_a86h3z_okz6z2l,
    .foundry_a86h3z_okz6z2n {
        height: round(var(--foundry_2fbf5420), 2px)
    }
    .foundry_a86h3z_okz6z2z {
        height: round(var(--foundry_ea1fb93c), 2px)
    }
    .foundry_a86h3z_okz6z211 {
        height: round(var(--foundry_6d1e42fb), 2px)
    }
}