._1o5pgyxa,
._1o5pgyxb {
    width: var(--_19z1c6d32);
    height: var(--_19z1c6d32)
}

._1o5pgyxc {
    width: var(--_19z1c6d2z);
    height: var(--_19z1c6d2z)
}

._1o5pgyxe {
    width: var(--_19z1c6d2y);
    height: var(--_19z1c6d2y)
}

._1o5pgyxf {
    width: var(--_19z1c6d2v);
    height: var(--_19z1c6d2v)
}

._1o5pgyxg {
    width: var(--_19z1c6d2t);
    height: var(--_19z1c6d2t)
}

@layer herm1h0 {
    ._1o5pgyx0 {
        cursor: pointer;
        display: inline-flex;
        flex-shrink: 0;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        border-radius: var(--foundry_8c8d51e6);
        border: none;
        transition: all .2s ease-in-out;
        transition-property: color, background-color, outline-color
    }
    ._1o5pgyx0:disabled {
        cursor: not-allowed
    }
}

:root {
    --_16b6yl70: cubic-bezier(0.645, 0.045, 0.355, 1);
    --_16b6yl71: 0.5s
}

@keyframes fbeard2 {
    0% {
        opacity: 0
    }
    to {
        opacity: .97
    }
}

@keyframes fbeard3 {
    to {
        opacity: 0
    }
}

@keyframes fbeard4 {
    0% {
        transform: translate3d(0, 100%, 0)
    }
    to {
        transform: translateZ(0)
    }
}

@keyframes fbeard5 {
    to {
        transform: translate3d(0, 100%, 0)
    }
}

.fbeard6 {
    inset: 0;
    position: fixed;
    background: var(--_19z1c6dv);
    z-index: var(--_19z1c6d5);
    animation-timing-function: var(--_16b6yl70)
}

[data-state=open].fbeard6 {
    animation-duration: var(--_16b6yl71);
    animation-name: fbeard2
}

[data-state=closed].fbeard6 {
    animation-duration: var(--_16b6yl71);
    animation-name: fbeard3
}

.fbeard7 {
    background: var(--_19z1c6do);
    position: fixed;
    top: var(--fbeard0);
    left: var(--fbeard1);
    right: var(--fbeard1);
    max-width: var(--_19z1c6d1);
    margin: 0 auto;
    bottom: 0;
    border-top-left-radius: var(--foundry_ca109bc3);
    border-top-right-radius: var(--foundry_ca109bc3);
    z-index: var(--_19z1c6d6);
    outline: none;
    animation-timing-function: var(--_16b6yl70);
    will-change: transform;
    transition: transform var(--_16b6yl71) cubic-bezier(.32, .72, 0, 1);
    animation-duration: var(--_16b6yl71);
    animation-name: fbeard4
}

.fbeard7:after {
    height: auto !important
}

[data-state=closed].fbeard7,
[data-state=open].fbeard7 {
    animation-duration: var(--_16b6yl71)
}

[data-state=closed].fbeard7 {
    animation-name: fbeard5
}

.fbeard8 {
    position: fixed;
    top: calc((var(--fbeard0) * -1) + var(--_19z1c6d2x));
    right: var(--_19z1c6d2w);
    z-index: var(--_19z1c6d6);
    pointer-events: auto;
    animation-fill-mode: forwards
}

[data-state=open] .fbeard8 {
    opacity: 0;
    animation-delay: var(--_16b6yl71);
    animation-duration: var(--_16b6yl71);
    animation-name: fbeard2
}

[data-state=closed] .fbeard8 {
    opacity: 1;
    animation-duration: .1s;
    animation-name: fbeard3
}

@media (min-width:0px) and (max-width:767px) {
    .fbeard7 {
        --fbeard1: 0px;
        --fbeard0: var(--_19z1c6d3c)
    }
}

@media (min-width:768px) {
    .fbeard7 {
        --fbeard1: var(--_1uw8doi2);
        --fbeard0: var(--_19z1c6d34)
    }
    [data-state=closed].fbeard7 {
        animation-name: fbeard3
    }
    .fbeard8 {
        right: calc((var(--fbeard1) * -1) + var(--_19z1c6d34));
        top: calc((var(--fbeard0) * -1) + var(--_19z1c6d31))
    }
}

@media (min-width:768px) and (max-width:1439px) {
    .fbeard7 {
        --fbeard1: var(--_19z1c6d3g)
    }
}