.avvi51 {
    display: flex;
    flex-direction: column;
    width: 100dvw;
    position: relative;
    margin-top: -4vw;
    scroll-margin-top: -4vw;
    background: transparent
}

.avvi56 {
    overflow: hidden
}

.avvi57 {
    clip-path: none;
    margin-top: 0;
    scroll-margin-top: 0
}

.avvi59 {
    clip-path: polygon(0 0, 100% calc(var(--avvi50) * 1vw), 100% 100%, 0 100%)
}

.avvi5a {
    clip-path: polygon(0 calc(var(--avvi50) * 1vw), 100% 0, 100% 100%, 0 100%)
}

.avvi5b {
    position: absolute;
    inset: 0;
    z-index: -1
}

.avvi5c {
    background: var(--_1nfc5sta)
}

.avvi5e {
    grid-column: main
}

.avvi5f {
    width: 100%
}

.avvi5g {
    display: flex;
    gap: var(--_1uw8doi3)
}

.avvi5h {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: calc(var(--_19z1c6d2x) - var(--_1uw8doi3))
}

@media (min-width:0px) and (max-width:767px) {
    .avvi51 {
        --avvi50: 6;
        margin-top: -6vw;
        scroll-margin-top: -6vw;
        padding-bottom: var(--_19z1c6d3c)
    }
    .avvi57 {
        gap: var(--_19z1c6d33)
    }
    .avvi58 {
        margin-top: calc(var(--_19z1c6d3h) * -1);
        position: unset
    }
}

@media (min-width:768px) {
    .avvi51 {
        --avvi50: 4;
        padding-bottom: var(--_19z1c6d3l)
    }
    .avvi53 {
        padding-bottom: calc(var(--_19z1c6d3l) * 1.5)
    }
    .avvi57 {
        padding-bottom: 0
    }
}