.u9ek520 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    background: var(--_19z1c6dv);
    cursor: pointer;
    z-index: 1;
    align-self: stretch;
    overflow: hidden;
    height: auto;
    aspect-ratio: 3/2
}

.u9ek520,
.u9ek521 {
    position: relative;
    width: 100%
}

.u9ek521 {
    height: 100%;
    border: 0 solid transparent;
    box-sizing: border-box;
    outline: none;
    transition: opacity .6s ease, border-width .6s ease, border-color .3s ease .3s
}

.u9ek521:before {
    content: "";
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(48% 34% at 100% 100%, rgba(255, 249, 203, .2) 0, rgba(255, 249, 203, .12) 52.34%, rgba(255, 249, 203, 0) 100%), radial-gradient(92% 66% at 0 100%, rgba(17, 17, 23, .56) 0, rgba(17, 17, 23, .42) 52%, rgba(17, 17, 23, 0) 100%);
    transition: background .6s ease;
    inset: 0;
    z-index: 1
}

.u9ek522 {
    opacity: .7;
    transition: opacity .6s ease
}

.u9ek521 .u9ek522 {
    height: 100%
}

.u9ek523 {
    position: absolute;
    top: var(--_19z1c6d2s);
    left: var(--_19z1c6d2s);
    height: auto;
    width: var(--_19z1c6d3a);
    color: var(--_19z1c6di);
    z-index: 1
}

.u9ek524 {
    display: flex;
    position: absolute;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding: var(--_19z1c6d2v);
    width: 100%;
    bottom: 0;
    left: 0;
    gap: var(--_19z1c6d2v);
    z-index: 2
}

.u9ek525 {
    font-style: normal;
    font-weight: 700;
    font-size: var(--_19z1c6d2w);
    color: var(--_19z1c6dr);
    text-transform: uppercase;
    line-height: 1
}

.u9ek526 {
    pointer-events: none
}

.u9ek520:focus .u9ek526,
.u9ek520:hover .u9ek526,
.u9ek526:not([data-pressed=true]):not([disabled]):hover {
    color: var(--_1nfc5st9) !important;
    background: var(--_19z1c6dr) !important
}

@media (min-width:0px) and (max-width:767px) {
    .u9ek520:active .u9ek521,
    .u9ek520:focus .u9ek521 {
        border-width: 1.5vw;
        border-color: var(--_19z1c6dr);
        transition: opacity .6s ease, border-width .6s ease, border-color .3s ease
    }
}

@media (min-width:768px) {
    .u9ek520 {
        aspect-ratio: 3/1
    }
    .u9ek520:focus .u9ek521,
    .u9ek520:hover .u9ek521 {
        border-width: .3vw;
        border-color: var(--_19z1c6dr);
        transition: opacity .6s ease, border-width .6s ease, border-color .3s ease
    }
    .u9ek520:focus .u9ek522,
    .u9ek520:hover .u9ek522 {
        opacity: 1
    }
}

@media (min-width:0px) and (max-width:767px) {
    .u9ek520:active .u9ek522,
    .u9ek520:focus .u9ek522 {
        opacity: 1
    }
    .u9ek524 {
        padding: var(--_19z1c6d2s)
    }
    .u9ek525:lang(ja),
    .u9ek525:lang(ko),
    .u9ek525:lang(zh) {
        font-size: var(--_19z1c6d2s)
    }
}

@media (min-width:768px) {
    .u9ek525 {
        font-size: var(--_19z1c6d2x)
    }
}