._16udq120 {
    display: grid;
    align-items: center;
    width: 100%;
    height: auto;
    transition: background-color .15s ease-in-out;
    background: var(--_19z1c6do);
    box-sizing: border-box;
    cursor: pointer;
    outline-offset: 0
}

._16udq120:focus,
._16udq120:hover {
    background: var(--_19z1c6dp)
}

._16udq120:active {
    background: var(--_19z1c6dq)
}

._16udq120:focus {
    outline: 4px solid var(--_19z1c6dr)
}

._16udq121 {
    background: var(--_19z1c6dp)
}

._16udq123 {
    grid-template-columns: repeat(2, minmax(auto, 1fr))
}

._16udq124 {
    grid-template-rows: auto auto
}

._16udq128 {
    padding: 0;
    padding-bottom: var(--_19z1c6d2v);
    gap: var(--_19z1c6d2u)
}

._16udq129 {
    display: -webkit-box;
    font-style: normal;
    font-size: var(--_19z1c6d2s);
    letter-spacing: -.0125em;
    color: var(--_19z1c6di);
    text-align: left;
    line-height: 120%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-wrap: wrap
}

._16udq12a {
    font-size: var(--_19z1c6d2t)
}

._16udq12b {
    font-size: var(--_19z1c6d2s)
}

._16udq12c {
    display: -webkit-box;
    font-style: normal;
    letter-spacing: -.0125em;
    color: var(--_19z1c6dh);
    font-weight: 400;
    text-align: left;
    line-height: 120%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1
}

._16udq12d {
    font-size: var(--_19z1c6d2s)
}

._16udq12e {
    font-size: var(--_19z1c6d2r)
}

._16udq12f {
    margin-top: var(--_19z1c6d2s)
}

._16udq12g {
    display: grid;
    position: relative;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100%;
    align-items: flex-end;
    aspect-ratio: 16/9;
    background: var(--foundry_43aea341);
    transition: all .15s ease-in-out;
    outline: 2px solid transparent
}

._16udq12h {
    outline-color: var(--_19z1c6dh)
}

._16udq12j {
    padding: var(--_19z1c6d2n)
}

._16udq12k {
    padding: var(--_19z1c6d2p)
}

._16udq12l {
    position: absolute;
    top: 0;
    left: 0;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain
}

._16udq12m {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%
}

._16udq12q {
    gap: var(--_19z1c6d2n);
    padding: var(--_19z1c6d2s)
}

._16udq12r {
    gap: var(--_19z1c6d2p);
    padding: var(--_19z1c6d2u)
}

._16udq12s {
    padding: 0 var(--_19z1c6d2u)
}

._16udq12t {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: flex-start;
    line-height: 100%;
    grid-column: 1;
    grid-row: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    text-transform: uppercase;
    min-width: -moz-max-content;
    min-width: max-content
}

._16udq12t:lang(ja) {
    font-family: var(--da41a1)
}

._16udq12t:lang(ko) {
    font-family: var(--da42a1)
}

._16udq12t:lang(zh-CN) {
    font-family: var(--da43a1)
}

._16udq12t:lang(zh-TW) {
    font-family: var(--da44a1)
}

._16udq12u {
    background: var(--_19z1c6dr);
    color: var(--_19z1c6dm)
}

._16udq12v {
    background: var(--_19z1c6dk);
    color: var(--_19z1c6di);
    -webkit-backdrop-filter: blur(23px);
    backdrop-filter: blur(23px)
}

._16udq12w {
    padding: 0 var(--_19z1c6d2o);
    height: var(--_19z1c6d2u);
    font-size: var(--_19z1c6d2r)
}

._16udq12x {
    padding: 0 var(--_19z1c6d2p);
    height: var(--_19z1c6d2v);
    font-size: var(--_19z1c6d2s)
}

._16udq12y {
    width: var(--_19z1c6d2t);
    height: var(--_19z1c6d2t)
}

._16udq12z {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    color: var(--_19z1c6di);
    border-radius: var(--foundry_8c8d51e6);
    background: var(--_19z1c6dj);
    -webkit-backdrop-filter: blur(12.5px);
    backdrop-filter: blur(12.5px)
}

._16udq1210 {
    width: var(--_19z1c6d2z);
    height: var(--_19z1c6d2z)
}

._16udq1211 {
    width: var(--_19z1c6d32);
    height: var(--_19z1c6d32)
}

._16udq1212 {
    grid-column: 2;
    align-self: center;
    justify-self: center
}

._16udq1215 {
    grid-column: 3;
    justify-self: flex-end
}

@media (min-width:0px) and (max-width:767px) {
    ._16udq125 {
        grid-template-rows: auto auto
    }
    ._16udq128 {
        padding-bottom: var(--_19z1c6d2u)
    }
}

@media (min-width:768px) {
    ._16udq120 {
        scroll-margin-top: var(--_19z1c6d3n)
    }
    ._16udq125 {
        grid-template-columns: repeat(2, minmax(auto, 1fr))
    }
}