@keyframes _2qmne30 {
    0% {
        top: -40%;
        left: -40%
    }
    92% {
        top: 75%;
        left: 100%
    }
    to {
        top: 75%;
        left: 100%
    }
}

@keyframes _2qmne31 {
    0% {
        background: #1d1f37
    }
    22% {
        background: #1d1f37
    }
    42% {
        background: #2d324f
    }
    92% {
        background: #1d1f37
    }
    to {
        background: #1d1f37
    }
}

@keyframes _2qmne32 {
    0% {
        opacity: .2
    }
    22% {
        opacity: .2
    }
    42% {
        opacity: 1
    }
    92% {
        opacity: .2
    }
    to {
        opacity: .2
    }
}

._2qmne33 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    background: var(--_19z1c6dv);
    z-index: var(--_19z1c6db);
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none
}

._2qmne33[data-loading] {
    pointer-events: auto
}

._2qmne34 {
    position: relative
}

._2qmne35 {
    width: var(--_19z1c6d3b);
    height: var(--_19z1c6d3b);
    z-index: var(--_19z1c6db);
    -webkit-mask-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyBpZD0iTGF5ZXJfMiIgZGF0YS1uYW1lPSJMYXllciAyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMjcuNTkgMTI4LjgzIj4KICA8ZGVmcz4KICAgIDxzdHlsZT4KICAgICAgLmNscy0xIHsKICAgICAgICBmaWxsOiAjMjEyMDIwOwogICAgICB9CiAgICA8L3N0eWxlPgogIDwvZGVmcz4KICA8ZyBpZD0iTGF5ZXJfMS0yIiBkYXRhLW5hbWU9IkxheWVyIDEiPgogICAgPHBhdGggY2xhc3M9ImNscy0xIiBkPSJNNTQuODQsMTI4LjgzbDEzLjgyLTI5LjcxLTcuNDgtNy44OWMtNS41My01LjgzLTcuMjEtNy42LTcuNjctOC4yNWwtLjA4LjA2Yy0xLjIxLTEuNjItMS40OS01LjU0LTEuNDktNi43OSwwLTEuOTYuMTItMy45NC4yNS02LjA0LjE1LTIuNDIuMzEtNC45Mi4zMS03Ljc4LDAtNy4xMi0zLjEzLTEwLjI5LTEwLjE3LTEwLjI5aC0xMy43OWwtNi4xOCwyOS4yNUgwTDE3LjE5LDBoNDAuNThjMTMuMjYsMCwyNi44MiwyLjU0LDI2LjgyLDIxLjM0LDAsMTIuNDYtNi4yMywyMC40NC0xNy41OSwyMi42NCw0Ljk5LDEuOCw3LjE0LDUuOTEsNy4xNCwxMy4zOSwwLDMuMTEtLjA5LDUuNzktLjE4LDguMzktLjA4LDIuMjYtLjE1LDQuNC0uMTUsNi41NiwwLDIuNzkuNzIsNy4wMywyLjMsOS45MmgyLjM5bDE2LjQyLTI3Ljc0LDQuNDQsMjcuOTNoMjguMjJsLTI1LjQ3LDE3LjgzLDQuMDgsMjcuODUtMjEuODctMTYuOC0yOS41LDE3LjUzWk01NC4yMSw4Mi40M2MuNDUuNDksMTAuMjMsMTAuOCwxNS40MSwxNi4yNmwuMjMuMjUtMTIuNzQsMjcuMzksMjcuMy0xNi4yMiwyMC40NSwxNS43MS0zLjgxLTI2LjAyLDIzLjM3LTE2LjM2aC0yNS45bC00LjE0LTI2LjAzLTE1LjMsMjUuODRoLTMuNTRsLS4xNC0uMjVjLTEuNzgtMy4wNy0yLjU4LTcuNTctMi41OC0xMC42NywwLTIuMTguMDctNC4zMi4xNS02LjYuMDktMi41OS4xOC01LjI3LjE4LTguMzYsMC03LjgtMi4zMS0xMS41My03Ljk4LTEyLjlsLS4zOC0uMDl2LTEuMDZsLjQzLS4wNmMxNS4xOS0yLjExLDE4LjM4LTEzLjA5LDE4LjM4LTIxLjkyLDAtMTcuOTItMTMuMDUtMjAuMzQtMjUuODItMjAuMzRIMThMMS4yMyw4MC40aDIwLjMzbDYuMTgtMjkuMjVoMTQuNmM3LjUxLDAsMTEuMTcsMy42OSwxMS4xNywxMS4yOSwwLDIuODktLjE2LDUuNDEtLjMxLDcuODQtLjEzLDIuMDgtLjI1LDQuMDUtLjI1LDUuOTcsMCwxLjguNCw0Ljk5LDEuMjcsNi4xN1pNNDguNzEsMzcuMDloLTE3LjU4bDQuMjctMjAuMzhoMTYuMTljNy45NCwwLDExLjk3LDIuOTcsMTEuOTcsOC44NCwwLDcuNjYtNSwxMS41NC0xNC44NSwxMS41NFpNMzIuMzYsMzYuMDloMTYuMzVjOS4zMiwwLDEzLjg1LTMuNDUsMTMuODUtMTAuNTQsMC01LjI4LTMuNTktNy44NC0xMC45Ny03Ljg0aC0xNS4zOGwtMy44NSwxOC4zOFoiLz4KICA8L2c+Cjwvc3ZnPg==);
    mask-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyBpZD0iTGF5ZXJfMiIgZGF0YS1uYW1lPSJMYXllciAyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMjcuNTkgMTI4LjgzIj4KICA8ZGVmcz4KICAgIDxzdHlsZT4KICAgICAgLmNscy0xIHsKICAgICAgICBmaWxsOiAjMjEyMDIwOwogICAgICB9CiAgICA8L3N0eWxlPgogIDwvZGVmcz4KICA8ZyBpZD0iTGF5ZXJfMS0yIiBkYXRhLW5hbWU9IkxheWVyIDEiPgogICAgPHBhdGggY2xhc3M9ImNscy0xIiBkPSJNNTQuODQsMTI4LjgzbDEzLjgyLTI5LjcxLTcuNDgtNy44OWMtNS41My01LjgzLTcuMjEtNy42LTcuNjctOC4yNWwtLjA4LjA2Yy0xLjIxLTEuNjItMS40OS01LjU0LTEuNDktNi43OSwwLTEuOTYuMTItMy45NC4yNS02LjA0LjE1LTIuNDIuMzEtNC45Mi4zMS03Ljc4LDAtNy4xMi0zLjEzLTEwLjI5LTEwLjE3LTEwLjI5aC0xMy43OWwtNi4xOCwyOS4yNUgwTDE3LjE5LDBoNDAuNThjMTMuMjYsMCwyNi44MiwyLjU0LDI2LjgyLDIxLjM0LDAsMTIuNDYtNi4yMywyMC40NC0xNy41OSwyMi42NCw0Ljk5LDEuOCw3LjE0LDUuOTEsNy4xNCwxMy4zOSwwLDMuMTEtLjA5LDUuNzktLjE4LDguMzktLjA4LDIuMjYtLjE1LDQuNC0uMTUsNi41NiwwLDIuNzkuNzIsNy4wMywyLjMsOS45MmgyLjM5bDE2LjQyLTI3Ljc0LDQuNDQsMjcuOTNoMjguMjJsLTI1LjQ3LDE3LjgzLDQuMDgsMjcuODUtMjEuODctMTYuOC0yOS41LDE3LjUzWk01NC4yMSw4Mi40M2MuNDUuNDksMTAuMjMsMTAuOCwxNS40MSwxNi4yNmwuMjMuMjUtMTIuNzQsMjcuMzksMjcuMy0xNi4yMiwyMC40NSwxNS43MS0zLjgxLTI2LjAyLDIzLjM3LTE2LjM2aC0yNS45bC00LjE0LTI2LjAzLTE1LjMsMjUuODRoLTMuNTRsLS4xNC0uMjVjLTEuNzgtMy4wNy0yLjU4LTcuNTctMi41OC0xMC42NywwLTIuMTguMDctNC4zMi4xNS02LjYuMDktMi41OS4xOC01LjI3LjE4LTguMzYsMC03LjgtMi4zMS0xMS41My03Ljk4LTEyLjlsLS4zOC0uMDl2LTEuMDZsLjQzLS4wNmMxNS4xOS0yLjExLDE4LjM4LTEzLjA5LDE4LjM4LTIxLjkyLDAtMTcuOTItMTMuMDUtMjAuMzQtMjUuODItMjAuMzRIMThMMS4yMyw4MC40aDIwLjMzbDYuMTgtMjkuMjVoMTQuNmM3LjUxLDAsMTEuMTcsMy42OSwxMS4xNywxMS4yOSwwLDIuODktLjE2LDUuNDEtLjMxLDcuODQtLjEzLDIuMDgtLjI1LDQuMDUtLjI1LDUuOTcsMCwxLjguNCw0Ljk5LDEuMjcsNi4xN1pNNDguNzEsMzcuMDloLTE3LjU4bDQuMjctMjAuMzhoMTYuMTljNy45NCwwLDExLjk3LDIuOTcsMTEuOTcsOC44NCwwLDcuNjYtNSwxMS41NC0xNC44NSwxMS41NFpNMzIuMzYsMzYuMDloMTYuMzVjOS4zMiwwLDEzLjg1LTMuNDUsMTMuODUtMTAuNTQsMC01LjI4LTMuNTktNy44NC0xMC45Ny03Ljg0aC0xNS4zOGwtMy44NSwxOC4zOFoiLz4KICA8L2c+Cjwvc3ZnPg==);
    -webkit-mask-size: cover;
    mask-size: cover;
    position: relative;
    background: #1d1f37;
    animation-name: _2qmne31;
    animation-duration: 2.15s;
    animation-timing-function: cubic-bezier(.455, .03, .515, .955);
    animation-fill-mode: both;
    animation-iteration-count: infinite
}

._2qmne35:after {
    content: "";
    background: linear-gradient(232deg, #ffc2d0 20%, #725185 70%);
    filter: blur(5px);
    transform: skew(-45deg, 45deg);
    position: absolute;
    top: -40%;
    left: -40%;
    width: 25%;
    height: 60%;
    z-index: -1;
    animation-name: _2qmne30;
    animation-duration: 2.15s;
    animation-timing-function: cubic-bezier(.77, 0, .175, 1);
    animation-fill-mode: both;
    animation-iteration-count: infinite
}

._2qmne36 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyBpZD0iTGF5ZXJfMiIgZGF0YS1uYW1lPSJMYXllciAyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMjcuNTkgMTI4LjgzIj4KICA8ZGVmcz4KICAgIDxzdHlsZT4KICAgICAgLmNscy0xIHsKICAgICAgICBmaWxsOiAjMjEyMDIwOwogICAgICB9CiAgICA8L3N0eWxlPgogIDwvZGVmcz4KICA8ZyBpZD0iTGF5ZXJfMS0yIiBkYXRhLW5hbWU9IkxheWVyIDEiPgogICAgPHBhdGggY2xhc3M9ImNscy0xIiBkPSJNNTQuODQsMTI4LjgzbDEzLjgyLTI5LjcxLTcuNDgtNy44OWMtNS41My01LjgzLTcuMjEtNy42LTcuNjctOC4yNWwtLjA4LjA2Yy0xLjIxLTEuNjItMS40OS01LjU0LTEuNDktNi43OSwwLTEuOTYuMTItMy45NC4yNS02LjA0LjE1LTIuNDIuMzEtNC45Mi4zMS03Ljc4LDAtNy4xMi0zLjEzLTEwLjI5LTEwLjE3LTEwLjI5aC0xMy43OWwtNi4xOCwyOS4yNUgwTDE3LjE5LDBoNDAuNThjMTMuMjYsMCwyNi44MiwyLjU0LDI2LjgyLDIxLjM0LDAsMTIuNDYtNi4yMywyMC40NC0xNy41OSwyMi42NCw0Ljk5LDEuOCw3LjE0LDUuOTEsNy4xNCwxMy4zOSwwLDMuMTEtLjA5LDUuNzktLjE4LDguMzktLjA4LDIuMjYtLjE1LDQuNC0uMTUsNi41NiwwLDIuNzkuNzIsNy4wMywyLjMsOS45MmgyLjM5bDE2LjQyLTI3Ljc0LDQuNDQsMjcuOTNoMjguMjJsLTI1LjQ3LDE3LjgzLDQuMDgsMjcuODUtMjEuODctMTYuOC0yOS41LDE3LjUzWk01NC4yMSw4Mi40M2MuNDUuNDksMTAuMjMsMTAuOCwxNS40MSwxNi4yNmwuMjMuMjUtMTIuNzQsMjcuMzksMjcuMy0xNi4yMiwyMC40NSwxNS43MS0zLjgxLTI2LjAyLDIzLjM3LTE2LjM2aC0yNS45bC00LjE0LTI2LjAzLTE1LjMsMjUuODRoLTMuNTRsLS4xNC0uMjVjLTEuNzgtMy4wNy0yLjU4LTcuNTctMi41OC0xMC42NywwLTIuMTguMDctNC4zMi4xNS02LjYuMDktMi41OS4xOC01LjI3LjE4LTguMzYsMC03LjgtMi4zMS0xMS41My03Ljk4LTEyLjlsLS4zOC0uMDl2LTEuMDZsLjQzLS4wNmMxNS4xOS0yLjExLDE4LjM4LTEzLjA5LDE4LjM4LTIxLjkyLDAtMTcuOTItMTMuMDUtMjAuMzQtMjUuODItMjAuMzRIMThMMS4yMyw4MC40aDIwLjMzbDYuMTgtMjkuMjVoMTQuNmM3LjUxLDAsMTEuMTcsMy42OSwxMS4xNywxMS4yOSwwLDIuODktLjE2LDUuNDEtLjMxLDcuODQtLjEzLDIuMDgtLjI1LDQuMDUtLjI1LDUuOTcsMCwxLjguNCw0Ljk5LDEuMjcsNi4xN1pNNDguNzEsMzcuMDloLTE3LjU4bDQuMjctMjAuMzhoMTYuMTljNy45NCwwLDExLjk3LDIuOTcsMTEuOTcsOC44NCwwLDcuNjYtNSwxMS41NC0xNC44NSwxMS41NFpNMzIuMzYsMzYuMDloMTYuMzVjOS4zMiwwLDEzLjg1LTMuNDUsMTMuODUtMTAuNTQsMC01LjI4LTMuNTktNy44NC0xMC45Ny03Ljg0aC0xNS4zOGwtMy44NSwxOC4zOFoiLz4KICA8L2c+Cjwvc3ZnPg==) no-repeat 50%/cover;
    filter: drop-shadow(0 0 var(--_19z1c6d2n) #2D324F);
    z-index: -2;
    animation-name: _2qmne32;
    animation-duration: 2.15s;
    animation-timing-function: cubic-bezier(.455, .03, .515, .955);
    animation-fill-mode: both;
    animation-iteration-count: infinite
}

._1637kzg0 {
    background: var(--_19z1c6dv);
    z-index: -3
}

._1637kzg0,
._1637kzg1 {
    position: fixed;
    inset: 0;
    pointer-events: none
}

._1637kzg1 {
    background: transparent;
    z-index: -2
}

.hrrf8q0 {
    position: relative;
    isolation: isolate;
    object-position: center center
}

.hrrf8q1 {
    z-index: 3;
    width: 100%;
    height: 100%;
    object-position: inherit;
    object-fit: cover;
    position: relative
}

.hrrf8q2 {
    opacity: 0;
    visibility: hidden
}

.hrrf8q4 {
    z-index: 2;
    position: absolute;
    inset: 0;
    object-position: inherit;
    object-fit: cover;
    width: 100%;
    height: 100%
}

.hrrf8q5 {
    opacity: 0;
    visibility: hidden
}

.hrrf8q7 {
    z-index: 1;
    position: absolute;
    inset: 0
}

.hrrf8q7,
.hrrf8q8 {
    object-position: inherit;
    object-fit: cover
}

.hrrf8q8 {
    width: 100%;
    height: 100%
}

.cp6w360 {
    --l56esfm: min(15vw, 15vh);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: calc(var(--l56esfm) * .4);
    padding: 0 var(--_19z1c6d2s)
}

.cp6w360:lang(es),
.cp6w360:lang(it),
.cp6w360:lang(pt) {
    --l56esfm: min(11.4vw, 13vh)
}

.cp6w360:lang(de) {
    --l56esfm: min(20vw, 15vh)
}

.cp6w360:lang(de),
.cp6w360:lang(ja),
.cp6w360:lang(ko),
.cp6w360:lang(zh) {
    gap: calc(var(--l56esfm) * .35)
}

.cp6w361 {
    width: clamp(20vh, 25%, 30vh) !important;
    height: auto !important
}

.cp6w362 {
    color: var(--_1nfc5st8);
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    background-image: radial-gradient(circle at 50% -30vh, #ffd687 0, #fc5243 50vh, #9d2f6a 90vh, rgba(32, 31, 66, 0) 150vh);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent
}

.cp6w362::-moz-selection {
    -webkit-text-fill-color: var(--_1nfc5st9)
}

.cp6w362::selection {
    -webkit-text-fill-color: var(--_1nfc5st9)
}

.cp6w362:lang(pt) {
    padding-top: calc(var(--l56esfm) * .15)
}

.cp6w362:lang(ru) {
    padding-bottom: calc(var(--l56esfm) * .06);
    line-height: .91
}

.cp6w362:lang(ja),
.cp6w362:lang(ko),
.cp6w362:lang(zh) {
    padding-bottom: calc(var(--l56esfm) * .05)
}

.cp6w363 {
    background-image: radial-gradient(circle at 50% 40vh, #ffd27b 0, #df3a93 60vh, #5c1663 100vh)
}

@media (min-width:768px) {
    .cp6w360 {
        --l56esfm: clamp(11vh, 8vw, 16vh);
        padding: 0 var(--_19z1c6d2x)
    }
    .cp6w360:lang(es),
    .cp6w360:lang(it),
    .cp6w360:lang(pt) {
        --l56esfm: clamp(5.7vh, 11vw, 16vh)
    }
}

@media (min-width:768px) and (max-width:1279px) {
    .cp6w360:lang(fr) {
        --l56esfm: min(15vw, 15vh)
    }
}

@media (min-width:768px) and (max-width:1023px) {
    .cp6w360:lang(pl) {
        --l56esfm: min(15vw, 15vh)
    }
}

@media (min-width:0px) and (max-width:767px),
(min-width:768px) and (max-width:1023px) {
    .cp6w360:lang(ja),
    .cp6w360:lang(ko),
    .cp6w360:lang(zh) {
        --l56esfm: min(16vw, 13vh)
    }
}

.jjnta20 {
    width: 100vw;
    position: relative
}

.jjnta21 {
    position: relative
}

.jjnta21,
.jjnta23 {
    height: 100lvh;
    width: 100%
}

.jjnta23 {
    position: absolute;
    top: 0;
    left: 0
}

[data-in-app=true] .jjnta23 {
    height: 100dvh !important;
    max-height: 100dvh !important
}

.jjnta24 {
    height: 100%;
    width: 100%;
    object-fit: cover
}

.jjnta25 {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: var(--_19z1c6d3e);
    width: 100%;
    background: var(--_1nfc5sta)
}

.jjnta27 {
    padding: var(--_19z1c6d35) 0
}

.jjnta28 {
    background: none;
    gap: var(--foundry_f21302a9);
    margin-top: var(--_19z1c6d36);
    padding: 0 var(--_19z1c6d2x);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%
}

.jjnta2c {
    height: 100svh;
    width: 100%;
    justify-content: center;
    margin: 40lvh 0 0
}

.jjnta2d {
    padding-top: 0;
    height: auto;
    width: 100%;
    margin: 0
}

.jjnta2g {
    width: var(--foundry_94e4f433) !important
}

.jjnta2i {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--foundry_f21302a9)
}

.jjnta2j {
    padding: 0 var(--_19z1c6d2x)
}

.jjnta2k {
    margin: -20lvh 0 0;
    visibility: hidden;
    opacity: 0
}

.jjnta2n {
    margin: 0;
    visibility: visible;
    opacity: 1
}

.jjnta2o {
    gap: var(--foundry_2f9fe0c5)
}

.jjnta2o,
.jjnta2p {
    display: flex;
    justify-content: center;
    align-items: center
}

.jjnta2p {
    gap: var(--foundry_7d922174)
}

.jjnta2p,
.jjnta2q {
    color: var(--_19z1c6di)
}

.jjnta2q {
    font-weight: var(--foundry_c2af3245)
}

.jjnta2r {
    font-size: var(--foundry_6b268615)
}

.jjnta2t {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: var(--foundry_05387de1) var(--foundry_7d922174);
    align-self: stretch;
    flex-wrap: wrap;
    text-align: center;
    list-style: none;
    padding: 0
}

.jjnta2u {
    font-size: var(--foundry_2a8e6da3);
    font-weight: var(--foundry_c2af3245);
    text-decoration: none;
    line-height: 150%;
    letter-spacing: -.025em;
    color: var(--_19z1c6dh);
    cursor: pointer;
    outline-width: 2px;
    outline-style: solid;
    outline-offset: 2px;
    outline-color: transparent;
    border-radius: var(--foundry_8c8d51e6);
    text-wrap: wrap
}

.jjnta2u:hover {
    text-decoration: underline;
    color: var(--_19z1c6di)
}

.jjnta2u:focus-visible {
    outline-color: var(--_19z1c6di)
}

.jjnta2v {
    display: flex;
    align-items: center;
    gap: var(--foundry_ee21f32b)
}

.jjnta2w {
    width: auto !important;
    height: 72px !important;
    object-fit: contain
}

.jjnta2x {
    font-size: var(--foundry_2a8e6da3) !important;
    font-weight: var(--foundry_c2af3245) !important
}

.jjnta2x,
.jjnta2y {
    color: var(--_19z1c6di)
}

.jjnta2y {
    text-decoration: underline
}

.jjnta2y:hover {
    color: var(--_19z1c6dh)
}

@media (min-width:0px) and (max-width:767px) and (orientation:landscape) {
    .jjnta23 {
        max-height: 100%;
        width: calc(100% - var(--_1uw8doi2) * 2);
        right: unset;
        left: 50%;
        transform: translateX(-50%)
    }
}

@media (min-width:768px) {
    .jjnta27 {
        padding: var(--_19z1c6d3g) 0
    }
    .jjnta28 {
        padding-top: 0
    }
    .jjnta2t {
        gap: var(--foundry_7f268a13) var(--_19z1c6d2u);
        padding-left: var(--_1uw8doi2);
        padding-right: var(--_1uw8doi2)
    }
    .jjnta2v {
        gap: var(--foundry_2f9fe0c5)
    }
}

@media (min-width:0px) and (max-width:767px) {
    .jjnta2k {
        margin-top: -35lvh
    }
    .jjnta2l {
        margin-top: 0
    }
    .jjnta2o {
        flex-direction: column;
        gap: var(--foundry_7d922174)
    }
    .jjnta2r {
        font-size: var(--foundry_caf3b782)
    }
}

._1rncngb0 {
    padding: var(--foundry_7d922174) var(--foundry_2f9fe0c5);
    border-radius: var(--foundry_8c8d51e6);
    background: var(--_19z1c6de);
    color: var(--_19z1c6di);
    outline-width: 3px;
    outline-style: solid;
    outline-offset: 3px;
    outline-color: transparent;
    transition: all .2s ease-in-out;
    transition-property: color, background-color, outline-color
}

._1rncngb0:hover {
    background: var(--_19z1c6df)
}

._1rncngb0:focus {
    outline-color: var(--_19z1c6di)
}

._1rncngb1 {
    height: var(--_19z1c6d2s)
}