@layer foundry_a86h3z_8kowh40 {
    .foundry_a86h3z_8kowh41 {
        all: unset
    }
}

.foundry_a86h3z_1d5mo5m0 {
    outline-width: 2px;
    outline-style: solid;
    outline-offset: 4px;
    outline-color: transparent
}

.foundry_a86h3z_1d5mo5m0:focus-visible {
    outline-color: var(--foundry_b430db7d)
}

.foundry_a86h3z_1qqcnua0:disabled {
    color: var(--foundry_6c1b5f99);
    border-color: var(--foundry_02700b85);
    background-color: var(--foundry_02700b85)
}

.foundry_a86h3z_1qqcnua0:focus-visible {
    outline-color: var(--foundry_b430db7d)
}

.foundry_a86h3z_1qqcnua1 {
    color: var(--foundry_4181979c);
    border-color: var(--foundry_020dfb1f);
    background-color: var(--foundry_020dfb1f)
}

.foundry_a86h3z_1qqcnua1[data-pressed=true] {
    border-color: var(--foundry_e3418aa4);
    background-color: var(--foundry_e3418aa4)
}

.foundry_a86h3z_1qqcnua1:not([data-pressed=true]):not([disabled]):hover {
    border-color: var(--foundry_59c03dd7);
    background-color: var(--foundry_59c03dd7)
}

.foundry_a86h3z_1qqcnua1:not([data-pressed=true]):focus-visible {
    border-color: var(--foundry_59c03dd7);
    background-color: var(--foundry_59c03dd7)
}

.foundry_a86h3z_1qqcnua2 {
    color: var(--foundry_2d241861);
    border-color: var(--foundry_5c75d572);
    background-color: initial
}

.foundry_a86h3z_1qqcnua2[data-pressed=true] {
    border-color: var(--foundry_02700b85);
    background-color: var(--foundry_02700b85)
}

.foundry_a86h3z_1qqcnua2:not([data-pressed=true]):not([disabled]):hover {
    border-color: var(--foundry_fb12d031);
    background-color: var(--foundry_fb12d031)
}

.foundry_a86h3z_1qqcnua2:not([data-pressed=true]):focus-visible {
    border-color: var(--foundry_fb12d031);
    background-color: var(--foundry_fb12d031)
}

.foundry_a86h3z_1qqcnua2:disabled {
    border-color: var(--foundry_cacdfb33);
    background-color: initial
}

.foundry_a86h3z_1qqcnua3 {
    color: var(--foundry_c0780da4);
    border-color: var(--foundry_2f911b2f);
    background-color: var(--foundry_2f911b2f);
    background-clip: padding-box
}

.foundry_a86h3z_1qqcnua3[data-pressed=true] {
    border-color: var(--foundry_8e38b04d);
    background-color: var(--foundry_8e38b04d)
}

.foundry_a86h3z_1qqcnua3:not([data-pressed=true]):not([disabled]):hover {
    border-color: var(--foundry_695b3a30);
    background-color: var(--foundry_695b3a30)
}

.foundry_a86h3z_1qqcnua3:not([data-pressed=true]):focus-visible {
    border-color: var(--foundry_695b3a30);
    background-color: var(--foundry_695b3a30)
}

.foundry_a86h3z_1qqcnua3:disabled {
    border-color: var(--foundry_2f911b2f);
    background-color: var(--foundry_2f911b2f)
}

.foundry_a86h3z_1qqcnua4 {
    color: var(--foundry_2d241861);
    border-color: transparent;
    background-color: initial
}

.foundry_a86h3z_1qqcnua4[data-pressed=true] {
    color: var(--foundry_ddc3fb78)
}

.foundry_a86h3z_1qqcnua4:not([data-pressed=true]):not([disabled]):hover {
    color: var(--foundry_e8d9db01)
}

.foundry_a86h3z_1qqcnua4:not([data-pressed=true]):focus-visible {
    color: var(--foundry_e8d9db01)
}

.foundry_a86h3z_1qqcnua4:disabled {
    border-color: transparent;
    background-color: initial
}

.foundry_a86h3z_1qqcnua5 {
    color: var(--foundry_d44db539);
    border-color: var(--foundry_cc0c4d91);
    background-color: var(--foundry_cc0c4d91)
}

.foundry_a86h3z_1qqcnua5[data-pressed=true] {
    border-color: var(--foundry_81ade28f);
    background-color: var(--foundry_81ade28f)
}

.foundry_a86h3z_1qqcnua5:not([data-pressed=true]):not([disabled]):hover {
    border-color: var(--foundry_674881c3);
    background-color: var(--foundry_674881c3)
}

.foundry_a86h3z_1qqcnua5:not([data-pressed=true]):focus-visible {
    border-color: var(--foundry_674881c3);
    background-color: var(--foundry_674881c3)
}

.foundry_a86h3z_1qqcnua5:focus-visible {
    outline-color: var(--foundry_f0d799e8)
}

.foundry_a86h3z_1qqcnua6 {
    color: var(--foundry_d44db539);
    border-color: var(--foundry_55f69265);
    background-color: var(--foundry_55f69265)
}

.foundry_a86h3z_1qqcnua6[data-pressed=true] {
    border-color: var(--foundry_284ef4c0);
    background-color: var(--foundry_284ef4c0)
}

.foundry_a86h3z_1qqcnua6:not([data-pressed=true]):not([disabled]):hover {
    border-color: var(--foundry_12c1e6bb);
    background-color: var(--foundry_12c1e6bb)
}

.foundry_a86h3z_1qqcnua6:not([data-pressed=true]):focus-visible {
    border-color: var(--foundry_12c1e6bb);
    background-color: var(--foundry_12c1e6bb)
}

.foundry_a86h3z_1qqcnua6:focus-visible {
    outline-color: var(--foundry_20c326c5)
}

.foundry_a86h3z_tdsdcd0 {
    -webkit-font-smoothing: antialiased;
    font-feature-settings: "ss01" on, "salt" on
}

.foundry_a86h3z_tdsdcd1 {
    font-family: var(--foundry_a0f2e156), var(--foundry_aa2c93c5);
    line-height: var(--foundry_f2a1d21c);
    font-size: var(--foundry_a2892c71);
    letter-spacing: var(--foundry_247e228b)
}

.foundry_a86h3z_tdsdcd1,
.foundry_a86h3z_tdsdcd2 {
    font-style: normal;
    font-weight: var(--foundry_751d319e)
}

.foundry_a86h3z_tdsdcd2 {
    font-family: var(--foundry_fab3091b), var(--foundry_197c505b)
}

.foundry_a86h3z_tdsdcd4 {
    font-size: var(--foundry_1e8a0727)
}

.foundry_a86h3z_tdsdcd4,
.foundry_a86h3z_tdsdcd5 {
    line-height: var(--foundry_f2a1d21c);
    letter-spacing: var(--foundry_247e228b)
}

.foundry_a86h3z_tdsdcd5 {
    font-size: var(--foundry_0fd2c0d9)
}

.foundry_a86h3z_tdsdcd6 {
    font-size: var(--foundry_9a73c535);
    line-height: var(--foundry_114ddbcd);
    letter-spacing: var(--foundry_11d3b242)
}

.foundry_a86h3z_tdsdcd7 {
    font-size: var(--foundry_1fdd08c0);
    line-height: var(--foundry_114ddbcd);
    letter-spacing: var(--foundry_e01b7d49)
}

.foundry_a86h3z_tdsdcd8 {
    font-size: var(--foundry_beb13840)
}

.foundry_a86h3z_tdsdcd8,
.foundry_a86h3z_tdsdcd9 {
    line-height: var(--foundry_1468e63f);
    letter-spacing: var(--foundry_e01b7d49)
}

.foundry_a86h3z_tdsdcd9 {
    font-size: var(--foundry_40a06748)
}

.foundry_a86h3z_tdsdcda {
    font-family: var(--foundry_a0f2e156), var(--foundry_aa2c93c5);
    line-height: var(--foundry_3e320cc8);
    font-style: normal;
    font-weight: var(--foundry_c2af3245);
    font-size: var(--foundry_cf241758);
    letter-spacing: var(--foundry_ab7f3c8d);
    text-transform: uppercase
}

.foundry_a86h3z_tdsdcdd {
    font-weight: var(--foundry_751d319e)
}

.foundry_a86h3z_tdsdcde {
    font-family: var(--foundry_a0f2e156), var(--foundry_aa2c93c5);
    line-height: var(--foundry_3e320cc8);
    font-style: normal;
    font-weight: var(--foundry_c2af3245);
    font-size: var(--foundry_bec4de18);
    letter-spacing: var(--foundry_36e0f114)
}

.foundry_a86h3z_tdsdcdh,
.foundry_a86h3z_tdsdcdi {
    font-weight: var(--foundry_751d319e)
}

.foundry_a86h3z_tdsdcdi {
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline
}

.foundry_a86h3z_tdsdcdj {
    font-weight: var(--foundry_751d319e);
    letter-spacing: var(--foundry_ab7f3c8d);
    text-transform: uppercase
}

.foundry_a86h3z_tdsdcdk {
    font-family: var(--foundry_a0f2e156), var(--foundry_aa2c93c5);
    line-height: var(--foundry_3e320cc8);
    font-style: normal;
    font-weight: var(--foundry_c2af3245);
    font-size: var(--foundry_caf3b782);
    letter-spacing: var(--foundry_36e0f114)
}

.foundry_a86h3z_tdsdcdn,
.foundry_a86h3z_tdsdcdo {
    font-weight: var(--foundry_751d319e)
}

.foundry_a86h3z_tdsdcdo {
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline
}

.foundry_a86h3z_tdsdcdp {
    font-weight: var(--foundry_751d319e);
    letter-spacing: var(--foundry_ab7f3c8d);
    text-transform: uppercase
}

.foundry_a86h3z_tdsdcdq {
    font-family: var(--foundry_a0f2e156), var(--foundry_aa2c93c5);
    line-height: var(--foundry_3e320cc8);
    font-style: normal;
    font-weight: var(--foundry_c2af3245);
    font-size: var(--foundry_2a8e6da3);
    letter-spacing: var(--foundry_36e0f114)
}

.foundry_a86h3z_tdsdcdt {
    font-weight: var(--foundry_751d319e)
}

.foundry_a86h3z_tdsdcdu {
    font-family: var(--foundry_a0f2e156), var(--foundry_aa2c93c5);
    font-style: normal;
    font-weight: var(--foundry_c2af3245);
    line-height: var(--foundry_dc282d1f);
    letter-spacing: var(--foundry_d0c75081)
}

.foundry_a86h3z_tdsdcdw {
    font-size: var(--foundry_bec4de18)
}

.foundry_a86h3z_tdsdcdx {
    font-size: var(--foundry_caf3b782)
}

.foundry_a86h3z_tdsdcdy {
    font-size: var(--foundry_2a8e6da3)
}

.foundry_a86h3z_tdsdcdz {
    font-size: var(--foundry_cf241758)
}

.foundry_a86h3z_tdsdcd11,
.foundry_a86h3z_tdsdcd12 {
    font-weight: var(--foundry_751d319e);
    letter-spacing: var(--foundry_2f64a6bc)
}

.foundry_a86h3z_tdsdcd12 {
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline
}

.foundry_a86h3z_tdsdcd13 {
    font-family: var(--foundry_a0f2e156), var(--foundry_aa2c93c5);
    font-style: normal;
    font-weight: var(--foundry_c2af3245);
    line-height: var(--foundry_d7ba3e93);
    letter-spacing: var(--foundry_3d4cc27a);
    text-transform: uppercase
}

.foundry_a86h3z_tdsdcd15 {
    font-size: var(--foundry_bec4de18)
}

.foundry_a86h3z_tdsdcd16 {
    font-size: var(--foundry_caf3b782)
}

.foundry_a86h3z_tdsdcd17 {
    font-size: var(--foundry_2a8e6da3)
}

.foundry_a86h3z_tdsdcd18 {
    font-size: var(--foundry_cf241758)
}

.foundry_a86h3z_tdsdcd1a {
    font-weight: var(--foundry_751d319e)
}

.foundry_a86h3z_tdsdcd1b {
    font-family: var(--foundry_0731b8b8), var(--foundry_65a5a9e6);
    line-height: var(--foundry_dc282d1f);
    font-style: normal;
    font-weight: var(--foundry_c2af3245);
    font-size: var(--foundry_17a5a27f);
    letter-spacing: var(--foundry_11d3b242)
}

.foundry_a86h3z_tdsdcd1e {
    font-weight: var(--foundry_751d319e)
}