._1nfc5stm {
    --_1nfc5st0: var(--_1nfc5stb, var(--_19z1c6dw));
    --_1nfc5st1: var(--_1nfc5stc, var(--_19z1c6dx));
    --_1nfc5st2: var(--_1nfc5std, var(--_19z1c6dy));
    --_1nfc5st3: var(--_1nfc5ste, var(--_19z1c6dz));
    --_1nfc5st4: var(--_1nfc5stf, var(--_19z1c6d10));
    --_1nfc5st5: var(--_1nfc5stg, var(--_19z1c6d11));
    --_1nfc5st6: var(--_1nfc5sth, var(--_19z1c6d12));
    --_1nfc5st7: var(--_1nfc5sti, var(--_19z1c6d13));
    --_1nfc5st9: var(--_1nfc5stk, var(--_19z1c6dt));
    --_1nfc5st8: var(--_1nfc5stj, var(--_19z1c6du));
    --_1nfc5sta: var(--_1nfc5stl, var(--_19z1c6dv))
}

._1nfc5stn {
    --_1nfc5st0: var(--_1nfc5stb, var(--_19z1c6d17));
    --_1nfc5st1: var(--_1nfc5stc, var(--_19z1c6d18));
    --_1nfc5st2: var(--_1nfc5std, var(--_19z1c6d19));
    --_1nfc5st3: var(--_1nfc5ste, var(--_19z1c6d1a));
    --_1nfc5st4: var(--_1nfc5stf, var(--_19z1c6d1b));
    --_1nfc5st5: var(--_1nfc5stg, var(--_19z1c6d1c));
    --_1nfc5st6: var(--_1nfc5sth, var(--_19z1c6d1d));
    --_1nfc5st7: var(--_1nfc5sti, var(--_19z1c6d1e));
    --_1nfc5st9: var(--_1nfc5stk, var(--_19z1c6d14));
    --_1nfc5st8: var(--_1nfc5stj, var(--_19z1c6d15));
    --_1nfc5sta: var(--_1nfc5stl, var(--_19z1c6d16))
}

._1nfc5sto {
    --_1nfc5st0: var(--_1nfc5stb, var(--_19z1c6d1i));
    --_1nfc5st1: var(--_1nfc5stc, var(--_19z1c6d1j));
    --_1nfc5st2: var(--_1nfc5std, var(--_19z1c6d1k));
    --_1nfc5st3: var(--_1nfc5ste, var(--_19z1c6d1l));
    --_1nfc5st4: var(--_1nfc5stf, var(--_19z1c6d1m));
    --_1nfc5st5: var(--_1nfc5stg, var(--_19z1c6d1n));
    --_1nfc5st6: var(--_1nfc5sth, var(--_19z1c6d1o));
    --_1nfc5st7: var(--_1nfc5sti, var(--_19z1c6d1p));
    --_1nfc5st9: var(--_1nfc5stk, var(--_19z1c6d1f));
    --_1nfc5st8: var(--_1nfc5stj, var(--_19z1c6d1g));
    --_1nfc5sta: var(--_1nfc5stl, var(--_19z1c6d1h))
}

._1nfc5stp {
    --_1nfc5st0: var(--_1nfc5stb, var(--_19z1c6d1t));
    --_1nfc5st1: var(--_1nfc5stc, var(--_19z1c6d1u));
    --_1nfc5st2: var(--_1nfc5std, var(--_19z1c6d1v));
    --_1nfc5st3: var(--_1nfc5ste, var(--_19z1c6d1w));
    --_1nfc5st4: var(--_1nfc5stf, var(--_19z1c6d1x));
    --_1nfc5st5: var(--_1nfc5stg, var(--_19z1c6d1y));
    --_1nfc5st6: var(--_1nfc5sth, var(--_19z1c6d1z));
    --_1nfc5st7: var(--_1nfc5sti, var(--_19z1c6d20));
    --_1nfc5st9: var(--_1nfc5stk, var(--_19z1c6d1q));
    --_1nfc5st8: var(--_1nfc5stj, var(--_19z1c6d1r));
    --_1nfc5sta: var(--_1nfc5stl, var(--_19z1c6d1s))
}

._1nfc5stq {
    --_1nfc5st0: var(--_1nfc5stb, var(--_19z1c6d24));
    --_1nfc5st1: var(--_1nfc5stc, var(--_19z1c6d25));
    --_1nfc5st2: var(--_1nfc5std, var(--_19z1c6d26));
    --_1nfc5st3: var(--_1nfc5ste, var(--_19z1c6d27));
    --_1nfc5st4: var(--_1nfc5stf, var(--_19z1c6d28));
    --_1nfc5st5: var(--_1nfc5stg, var(--_19z1c6d29));
    --_1nfc5st6: var(--_1nfc5sth, var(--_19z1c6d2a));
    --_1nfc5st7: var(--_1nfc5sti, var(--_19z1c6d2b));
    --_1nfc5st9: var(--_1nfc5stk, var(--_19z1c6d21));
    --_1nfc5st8: var(--_1nfc5stj, var(--_19z1c6d22));
    --_1nfc5sta: var(--_1nfc5stl, var(--_19z1c6d23))
}

._1nfc5str {
    --_1nfc5st0: var(--_1nfc5stb, var(--_19z1c6d2f));
    --_1nfc5st1: var(--_1nfc5stc, var(--_19z1c6d2g));
    --_1nfc5st2: var(--_1nfc5std, var(--_19z1c6d2h));
    --_1nfc5st3: var(--_1nfc5ste, var(--_19z1c6d2i));
    --_1nfc5st4: var(--_1nfc5stf, var(--_19z1c6d2j));
    --_1nfc5st5: var(--_1nfc5stg, var(--_19z1c6d2k));
    --_1nfc5st6: var(--_1nfc5sth, var(--_19z1c6d2l));
    --_1nfc5st7: var(--_1nfc5sti, var(--_19z1c6d2m));
    --_1nfc5st9: var(--_1nfc5stk, var(--_19z1c6d2c));
    --_1nfc5st8: var(--_1nfc5stj, var(--_19z1c6d2d));
    --_1nfc5sta: var(--_1nfc5stl, var(--_19z1c6d2e))
}

body ::selection {
    background: var(--_1nfc5st8);
    color: var(--_1nfc5st9)
}

body ::-moz-selection {
    background: var(--_1nfc5st8);
    color: var(--_1nfc5st9)
}

.puylxo0 {
    outline-width: 4px;
    outline-style: solid;
    outline-offset: 4px;
    outline-color: transparent;
    transform: translateZ(0)
}

.puylxo1 {
    color: var(--_1nfc5st8);
    background: var(--_1nfc5st9);
    -webkit-backdrop-filter: blur(12.5px);
    backdrop-filter: blur(12.5px)
}

.puylxo1:disabled {
    color: var(--_1nfc5st7);
    background: var(--_1nfc5st6)
}

.puylxo1[data-pressed=true] {
    background: var(--_1nfc5st5)
}

.puylxo1:not([data-pressed=true]):not([disabled]):hover {
    background: var(--_1nfc5st2)
}

.puylxo1:focus-visible {
    outline-color: var(--_1nfc5st8, var(--_19z1c6di))
}

.puylxo2 {
    color: var(--_1nfc5st9);
    background: var(--_1nfc5st8);
    -webkit-backdrop-filter: blur(12.5px);
    backdrop-filter: blur(12.5px)
}

.puylxo2:disabled {
    color: var(--_1nfc5st6);
    background: var(--_1nfc5st7)
}

.puylxo2[data-pressed=true] {
    background: var(--_1nfc5st4)
}

.puylxo2:not([data-pressed=true]):not([disabled]):hover {
    background: var(--_1nfc5st1)
}

.puylxo2:focus-visible {
    outline-color: var(--_1nfc5st8, var(--_19z1c6di))
}

.puylxo3 {
    -webkit-backdrop-filter: blur(12.5px);
    backdrop-filter: blur(12.5px)
}

.puylxo3,
.puylxo3:disabled {
    color: var(--_19z1c6dm);
    background: var(--_19z1c6di)
}

.puylxo3:disabled {
    opacity: .3
}

.puylxo3[data-pressed=true] {
    color: var(--_19z1c6dm);
    background: var(--_19z1c6ds)
}

.puylxo3:not([data-pressed=true]):not([disabled]):hover {
    color: var(--_19z1c6dm);
    background: var(--_19z1c6dr)
}

.puylxo3:focus-visible {
    outline-color: var(--_1nfc5st8, var(--_19z1c6di))
}

.puylxo4 {
    color: var(--_19z1c6di);
    background: var(--_19z1c6dj);
    -webkit-backdrop-filter: blur(12.5px);
    backdrop-filter: blur(12.5px)
}

.puylxo4:disabled {
    opacity: .6;
    color: var(--_19z1c6dj);
    background: var(--_19z1c6di)
}

.puylxo4[data-pressed=true] {
    color: var(--_19z1c6di);
    background: var(--_19z1c6dm)
}

.puylxo4:not([data-pressed=true]):not([disabled]):hover {
    color: var(--_19z1c6di);
    background: var(--_19z1c6dk)
}

.puylxo4:focus-visible {
    outline-color: var(--_1nfc5st8, var(--_19z1c6di))
}

.puylxo5 {
    -webkit-backdrop-filter: blur(12.5px);
    backdrop-filter: blur(12.5px)
}

.puylxo5,
.puylxo5:disabled {
    color: var(--_19z1c6di);
    background: var(--_19z1c6dd)
}

.puylxo5:disabled {
    opacity: .6
}

.puylxo5[data-pressed=true] {
    color: var(--_19z1c6di);
    background: var(--_19z1c6df)
}

.puylxo5:not([data-pressed=true]):not([disabled]):hover {
    color: var(--_19z1c6di);
    background: var(--_19z1c6de)
}

.puylxo5:focus-visible {
    outline-color: var(--_1nfc5st8, var(--_19z1c6di))
}

.puylxo6 {
    color: var(--_19z1c6di);
    background: transparent
}

.puylxo6:disabled {
    opacity: .6;
    color: var(--_19z1c6di)
}

.puylxo6[data-pressed=true] {
    color: var(--_19z1c6dg)
}

.puylxo6:not([data-pressed=true]):not([disabled]):hover {
    color: var(--_19z1c6dh)
}

.puylxo6:focus-visible {
    outline-color: var(--_1nfc5st8, var(--_19z1c6di))
}

.puylxo7 {
    color: var(--_1nfc5st8);
    background: transparent
}

.puylxo7:disabled {
    color: var(--_1nfc5st7)
}

.puylxo7[data-pressed=true] {
    color: var(--_1nfc5st3)
}

.puylxo7:not([data-pressed=true]):not([disabled]):hover {
    color: var(--_1nfc5st0)
}

.puylxo7:focus-visible {
    outline-color: var(--_1nfc5st8, var(--_19z1c6di))
}

.puylxo8 {
    color: var(--_1nfc5st8);
    background: var(--_1nfc5st9);
    -webkit-backdrop-filter: blur(12.5px);
    backdrop-filter: blur(12.5px)
}

.puylxo8:disabled {
    color: var(--_1nfc5st7);
    background: var(--_1nfc5st6)
}

.puylxo8[data-pressed=true] {
    color: var(--_1nfc5st9);
    background: var(--_1nfc5st3)
}

.puylxo8:not([data-pressed=true]):not([disabled]):hover {
    color: var(--_1nfc5st9);
    background: var(--_1nfc5st8)
}

.puylxo8:focus-visible {
    outline-color: var(--_1nfc5st8, var(--_19z1c6di))
}

.puylxo9:focus-visible {
    outline-color: var(--_1nfc5st8, var(--_19z1c6di))
}