._1sd8cy60 {
    width: 100%;
    height: 100%;
    object-fit: cover
}

._1sd8cy61 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    pointer-events: auto
}

._1sd8cy61,
._1sd8cy62 {
    width: 100%;
    position: relative
}

._1sd8cy62 {
    aspect-ratio: 3/2
}

._1sd8cy63 {
    inset: 0;
    position: absolute;
    object-fit: cover
}

._1sd8cy64 {
    z-index: 2
}

._1sd8cy65 {
    z-index: 1
}

._1sd8cy61:focus-visible ._1sd8cy66 {
    outline-color: var(--_1nfc5st8, var(--_19z1c6di))
}

@media (min-width:0px) and (max-width:767px) {
    ._1sd8cy61 {
        gap: var(--_19z1c6d2x);
        padding-bottom: var(--_19z1c6d2x)
    }
}

@media (min-width:768px) {
    ._1sd8cy62 {
        max-width: 150vh;
        box-shadow: 0 0 0 0 transparent;
        transition-duration: .4s;
        transition-timing-function: cubic-bezier(.455, .03, .515, .955);
        transition-property: rotate, scale, box-shadow
    }
    ._1sd8cy61:focus-visible ._1sd8cy62,
    ._1sd8cy61:hover ._1sd8cy62 {
        scale: 1.015;
        rotate: .5deg;
        box-shadow: 0 8px 100px 10px rgba(0, 0, 0, .2)
    }
    ._1sd8cy61:active ._1sd8cy62 {
        scale: 1.0075;
        rotate: .25deg;
        box-shadow: 0 4px 75px 10px rgba(0, 0, 0, .2)
    }
    ._1sd8cy65 {
        opacity: .9;
        transition-duration: .4s;
        transition-timing-function: cubic-bezier(.455, .03, .515, .955);
        transition-property: opacity
    }
    ._1sd8cy61:focus-visible ._1sd8cy65,
    ._1sd8cy61:hover ._1sd8cy65 {
        opacity: 1
    }
    ._1sd8cy61:active ._1sd8cy65 {
        opacity: .95
    }
    ._1sd8cy66 {
        position: absolute;
        bottom: 7%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 3;
        transition-duration: .4s;
        transition-timing-function: cubic-bezier(.455, .03, .515, .955);
        transition-property: scale, rotate, color, background
    }
    ._1sd8cy61:focus-visible ._1sd8cy66,
    ._1sd8cy61:hover ._1sd8cy66 {
        scale: 1.015;
        rotate: .5deg;
        color: var(--_19z1c6dm);
        background: var(--_19z1c6dr)
    }
    ._1sd8cy61:active ._1sd8cy66 {
        scale: .985;
        rotate: .25deg;
        background: var(--_19z1c6ds)
    }
}

._1e1y5kb0 {
    width: 100vw;
    background: var(--_1nfc5sta)
}

._1e1y5kb1 {
    display: grid !important;
    grid-gap: var(--_1uw8doi3) !important;
    gap: var(--_1uw8doi3) !important;
    grid-row-gap: var(--_19z1c6d2z) !important;
    row-gap: var(--_19z1c6d2z) !important;
    align-items: center;
    padding-top: calc(var(--_19z1c6d3g) + 4vw);
    padding-bottom: calc(var(--_19z1c6d3g) + 4vw);
    background-image: radial-gradient(circle at 100vw 20%, #ffd27b 0, #ffb99c 20vw, #df3a93 100vw);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

._1e1y5kb2 {
    grid-column: main;
    color: var(--_1nfc5st8);
    font-size: var(--_19z1c6d34);
    line-height: .9;
    position: unset
}

._1e1y5kb2::-moz-selection {
    -webkit-text-fill-color: var(--_1nfc5st9)
}

._1e1y5kb2::selection {
    -webkit-text-fill-color: var(--_1nfc5st9)
}

._1e1y5kb2:lang(ja),
._1e1y5kb2:lang(ko),
._1e1y5kb2:lang(zh) {
    line-height: 1;
    font-size: var(--_19z1c6d32)
}

._1e1y5kb3 {
    grid-column: main;
    font-size: var(--_19z1c6d2v);
    color: var(--_19z1c6di)
}

._1e1y5kb3::-moz-selection {
    -webkit-text-fill-color: var(--_1nfc5st9)
}

._1e1y5kb3::selection {
    -webkit-text-fill-color: var(--_1nfc5st9)
}

@media (min-width:0px) and (max-width:767px) {
    ._1e1y5kb3 {
        text-wrap: wrap
    }
}

@media (min-width:768px) {
    ._1e1y5kb1 {
        padding-top: calc(var(--_19z1c6d3l) + 4vw);
        padding-bottom: calc(var(--_19z1c6d3l) + 4vw)
    }
    ._1e1y5kb2 {
        font-size: var(--_19z1c6d3c);
        grid-column-start: partial-start;
        grid-column-end: 7
    }
    ._1e1y5kb2:lang(ja),
    ._1e1y5kb2:lang(ko),
    ._1e1y5kb2:lang(zh) {
        font-size: var(--_19z1c6d3b)
    }
    ._1e1y5kb3 {
        font-size: var(--_19z1c6d2x);
        grid-column-start: 8;
        grid-column-end: partial-end
    }
}

@media (min-width:768px) and (max-width:1439px) {
    ._1e1y5kb2:not(._1e1y5kb2: lang(en)) {
        grid-column-start:main-start
    }
    ._1e1y5kb2:lang(fr),
    ._1e1y5kb2:lang(it) {
        grid-column: 3/11 !important
    }
    ._1e1y5kb3:not(._1e1y5kb3:lang(en)) {
        grid-column-end: main-end
    }
    ._1e1y5kb3:lang(fr),
    ._1e1y5kb3:lang(it) {
        grid-column: 3/11 !important
    }
}

@media (min-width:1440px) {
    ._1e1y5kb2:lang(de),
    ._1e1y5kb2:lang(es),
    ._1e1y5kb2:lang(fr),
    ._1e1y5kb2:lang(ja),
    ._1e1y5kb2:lang(ko),
    ._1e1y5kb2:lang(zh-CN) {
        grid-column-start: main-start
    }
    ._1e1y5kb3:lang(de),
    ._1e1y5kb3:lang(es),
    ._1e1y5kb3:lang(fr),
    ._1e1y5kb3:lang(ja),
    ._1e1y5kb3:lang(ko),
    ._1e1y5kb3:lang(zh-CN) {
        grid-column-end: main-end
    }
}