@keyframes _1cql4pe7 {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

._1cql4pe0 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: var(--_19z1c6d2p);
    border-radius: var(--foundry_8c8d51e6);
    background: var(--foundry_a2bc128b);
    border-style: solid;
    border-color: var(--foundry_d535e421);
    border-width: 1px;
    padding: var(--_19z1c6d2p) var(--_19z1c6d2s);
    box-shadow: 0 0 2px 0 var(--foundry_d198b2a6), 0 8px 24px 0 var(--foundry_d198b2a6);
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

._1cql4pe1 {
    position: fixed;
    right: var(--_19z1c6d2v);
    bottom: var(--_19z1c6d2v);
    z-index: var(--_19z1c6dc)
}

._1cql4pe3 {
    width: var(--_19z1c6d2u);
    height: var(--_19z1c6d2u);
    color: var(--foundry_2d241861)
}

._1cql4pe4 {
    stroke: var(--foundry_28436c1a);
    fill: var(--foundry_43aea341)
}

._1cql4pe5 {
    stroke: var(--foundry_a7a37139)
}

._1cql4pe6 {
    color: var(--foundry_e3418aa4);
    text-transform: uppercase
}

._1cql4pe8 {
    padding: var(--_19z1c6d2s) var(--_19z1c6d2v);
    border-radius: var(--foundry_742803b2);
    background: var(--foundry_a2bc128b);
    border-style: solid;
    border-color: var(--foundry_f8bbcfca);
    border-width: 1px;
    box-shadow: 0 0 2px 0 var(--foundry_d198b2a6), 0 8px 24px 0 var(--foundry_d198b2a6);
    max-height: calc(var(--radix-hover-card-content-available-height) - var(--_19z1c6d2x));
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: var(--_19z1c6d2s);
    transform-origin: var(--radix-hover-card-content-transform-origin);
    animation: _1cql4pe7 .3s ease-out;
    z-index: var(--_19z1c6dc)
}

._1cql4pe8::-webkit-scrollbar {
    width: 16px
}

._1cql4pe8::-webkit-scrollbar-thumb {
    background-color: var(--foundry_eddb4873);
    border: 4px solid transparent;
    border-radius: 8px;
    background-clip: padding-box
}

._1cql4pe9 {
    margin-right: var(--_19z1c6d2v)
}

._1cql4peb {
    fill: var(--foundry_a2bc128b);
    stroke: var(--foundry_f8bbcfca);
    stroke-width: 1px;
    position: relative;
    top: -1px
}

._1cql4pec {
    border-collapse: collapse
}

._1cql4pee {
    text-align: left;
    color: var(--foundry_2d241861);
    padding: var(--_19z1c6d2p) var(--_19z1c6d2s);
    padding-left: 0;
    border-bottom: 1px solid;
    border-color: var(--foundry_678f338a)
}

._1cql4pec tr:last-of-type ._1cql4pee {
    border-bottom: none
}

._1cql4pee[colspan="2"] {
    font-size: var(--_19z1c6d2s);
    color: var(--foundry_c0780da4)
}

._1cql4pef {
    text-align: right;
    color: var(--foundry_e3418aa4);
    padding: var(--_19z1c6d2p) var(--_19z1c6d2s);
    padding-right: 0;
    border-bottom: 1px solid;
    border-color: var(--foundry_678f338a)
}

._1cql4pec tr:last-of-type ._1cql4pef {
    border-bottom: none
}

._1cql4pef[colspan="2"] {
    text-align: left;
    border: none;
    padding-left: 0
}