@keyframes g0abma2 {
    0% {
        transform: scale(1)
    }
    to {
        transform: scale(.6)
    }
}

@keyframes g0abma4 {
    0% {
        transform: translateY(0) rotate(0)
    }
    to {
        transform: translateY(calc(var(--g0abma0) * 1)) rotate(45deg)
    }
}

@keyframes g0abma5 {
    0% {
        transform: translateY(0) rotate(0)
    }
    to {
        transform: translateY(calc(var(--g0abma0) * -1)) rotate(-45deg)
    }
}

.g0abma1 {
    --g0abma0: var(--_19z1c6d2n);
    width: var(--_19z1c6d32);
    height: var(--_19z1c6d32);
    cursor: pointer;
    outline-width: var(--_19z1c6d2n);
    outline-style: solid;
    outline-color: transparent;
    border-radius: var(--foundry_a97600a9);
    color: var(--_19z1c6di);
    background: transparent;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
    transition-property: color, background, outline-color
}

.g0abma1[data-pressed=true] {
    color: var(--_19z1c6ds)
}

.g0abma1:not([data-pressed=true]):not([disabled]):hover {
    color: var(--_19z1c6dr)
}

.g0abma1:focus-visible {
    outline-color: var(--_19z1c6di)
}

[data-state=open] .g0abma1 {
    background: var(--_19z1c6dd)
}

[data-state=open] .g0abma1:hover {
    background: var(--_19z1c6de)
}

[data-state=open] .g0abma1:active {
    background: var(--_19z1c6df);
    color: var(--_19z1c6ds)
}

.g0abma3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--g0abma0);
    width: 100%;
    height: 100%;
    transform-origin: center;
    animation-fill-mode: forwards;
    animation-duration: .25s;
    animation-timing-function: ease-in-out
}

.g0abma3[data-state=open],
[data-state=open] .g0abma3 {
    animation-name: g0abma2
}

.g0abma6 {
    width: var(--_19z1c6d2u);
    height: var(--g0abma0);
    background: currentcolor;
    transform-origin: center;
    animation-duration: .25s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards
}

[data-state=open] .g0abma6:first-of-type {
    animation-name: g0abma4
}

[data-state=open] .g0abma6:last-of-type {
    animation-name: g0abma5
}

@media (min-width:768px) {
    .g0abma1 {
        --g0abma0: var(--_19z1c6d2o)
    }
    .g0abma6 {
        width: var(--_19z1c6d2w)
    }
}