@font-face {
    font-family: Helvetica Now Text;
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(/VI/_next/static/media/HelveticaNowText.34d39720.woff) format("woff")
}

@font-face {
    font-family: Helvetica Now Text;
    font-style: italic;
    font-display: swap;
    font-weight: 400;
    src: url(/VI/_next/static/media/HelveticaNowTextIt.e3811c47.woff) format("woff")
}

@font-face {
    font-family: Helvetica Now Text;
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: url(/VI/_next/static/media/HelveticaNowTextBold.ec9b58c3.woff) format("woff")
}

@font-face {
    font-family: Helvetica Now Display;
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(/VI/_next/static/media/HelveticaNowDisplay.6a2c0a0d.woff) format("woff")
}

@font-face {
    font-family: Helvetica Now Display;
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: url(/VI/_next/static/media/HelveticaNowDisplayBold.0684b7fd.woff) format("woff")
}