._1n4m2yu1 {
    width: auto;
    height: var(--foundry_2fbf5420);
    object-fit: contain
}

@layer herm1h0 {
    ._1n4m2yu0 {
        display: block;
        width: var(--_19z1c6d2x);
        height: var(--_19z1c6d2x)
    }
}

@media (min-width:768px) {
    ._1n4m2yu1 {
        height: var(--foundry_1db78665)
    }
}

._1smfa210 {
    height: calc(var(--_19z1c6d2) * .45);
    width: min(calc(var(--_19z1c6d2) * .45), 2.1rem);
    color: var(--_19z1c6du);
    filter: drop-shadow(0 0 calc(var(--_19z1c6d2)* .025) rgba(255, 176, 196, .5)) drop-shadow(0 0 calc(var(--_19z1c6d2) * .1) #000)
}

.x47gz80 {
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    position: fixed;
    width: 100vw
}

.x47gz81 {
    display: none
}

@layer herm1h0.herm1h1 {
    .l56esf0 {
        -webkit-text-size-adjust: none;
        -webkit-font-smoothing: antialiased;
        text-wrap: balance;
        font-feature-settings: unset !important
    }
    .l56esf0:lang(ja),
    .l56esf0:lang(ko),
    .l56esf0:lang(zh) {
        letter-spacing: 0
    }
    .l56esf1 {
        font-family: var(--da39a4);
        font-weight: 400
    }
    .l56esf1:lang(ja) {
        font-family: var(--da41a1)
    }
    .l56esf1:lang(ko) {
        font-family: var(--da42a1)
    }
    .l56esf1:lang(zh-CN) {
        font-family: var(--da43a1)
    }
    .l56esf1:lang(zh-TW) {
        font-family: var(--da44a1)
    }
    .l56esf2 {
        font-family: var(--da39a9);
        font-weight: 500
    }
    .l56esf2:lang(ja) {
        font-family: var(--da41a1)
    }
    .l56esf2:lang(ko) {
        font-family: var(--da42a1)
    }
    .l56esf2:lang(zh-CN) {
        font-family: var(--da43a1)
    }
    .l56esf2:lang(zh-TW) {
        font-family: var(--da44a1)
    }
    .l56esf3 {
        font-family: var(--da39af);
        font-weight: 700
    }
    .l56esf3:lang(ja) {
        font-family: var(--da41a2)
    }
    .l56esf3:lang(ko) {
        font-family: var(--da42a2)
    }
    .l56esf3:lang(zh-CN) {
        font-family: var(--da43a2)
    }
    .l56esf3:lang(zh-TW) {
        font-family: var(--da44a2)
    }
    .l56esf4 {
        font-family: var(--da39a3);
        font-weight: 700
    }
    .l56esf4:lang(ja) {
        font-family: var(--da41a3)
    }
    .l56esf4:lang(ko) {
        font-family: var(--da42a3)
    }
    .l56esf4:lang(zh-CN) {
        font-family: var(--da43a3)
    }
    .l56esf4:lang(zh-TW) {
        font-family: var(--da44a3)
    }
    .l56esf5 {
        font-style: normal;
        letter-spacing: 0;
        line-height: .9;
        text-transform: uppercase
    }
    .l56esf5:lang(de),
    .l56esf5:lang(es),
    .l56esf5:lang(fr),
    .l56esf5:lang(ja),
    .l56esf5:lang(ko),
    .l56esf5:lang(pl),
    .l56esf5:lang(pt),
    .l56esf5:lang(ru),
    .l56esf5:lang(zh) {
        line-height: 1
    }
    .l56esf6 {
        text-transform: none;
        font-size: min(var(--_19z1c6d30), 64px)
    }
    .l56esf6:lang(ja),
    .l56esf6:lang(ko),
    .l56esf6:lang(zh) {
        font-size: var(--_19z1c6d2w)
    }
    .l56esf7 {
        font-size: min(var(--_19z1c6d31), 70px)
    }
    .l56esf7:lang(ja),
    .l56esf7:lang(ko),
    .l56esf7:lang(zh) {
        font-size: var(--_19z1c6d2y)
    }
    .l56esf8 {
        font-size: min(var(--_19z1c6d37), 110px)
    }
    .l56esf8:lang(ja),
    .l56esf8:lang(ko),
    .l56esf8:lang(zh) {
        font-size: var(--_19z1c6d30)
    }
    .l56esf9 {
        font-style: normal;
        letter-spacing: -.0125em;
        line-height: 1.1
    }
    .l56esfa {
        font-size: min(var(--_19z1c6d2w), 41px)
    }
    .l56esfb {
        font-size: min(var(--_19z1c6d2x), 46px)
    }
    .l56esfc {
        font-size: min(var(--_19z1c6d2w), 64px)
    }
    .l56esfd {
        font-style: normal;
        letter-spacing: -.0125em;
        line-height: 1.3
    }
    .l56esfe {
        font-size: min(var(--_19z1c6d2t), 26px)
    }
    .l56esff,
    .l56esfg {
        font-size: min(var(--_19z1c6d2v), 35px)
    }
    .l56esfg {
        font-style: normal;
        letter-spacing: .014em;
        line-height: 1;
        text-transform: uppercase
    }
    .l56esfg:lang(ja) {
        font-family: var(--da41a2)
    }
    .l56esfg:lang(ko) {
        font-family: var(--da42a2)
    }
    .l56esfg:lang(zh-CN) {
        font-family: var(--da43a2)
    }
    .l56esfg:lang(zh-TW) {
        font-family: var(--da44a2)
    }
    .l56esfi {
        letter-spacing: -.002em;
        font-size: min(var(--_19z1c6d2s), 23px)
    }
    .l56esfi,
    .l56esfj {
        font-style: normal;
        line-height: 1
    }
    .l56esfj {
        letter-spacing: -.02%;
        font-size: min(var(--_19z1c6d2r), 23px)
    }
    .l56esfk {
        font-style: normal;
        letter-spacing: 0;
        line-height: .9;
        text-transform: uppercase;
        font-size: var(--_19z1c6d30)
    }
    .l56esfk:lang(zh-TW):before {
        content: "\300C"
    }
    .l56esfk:lang(zh-TW):after {
        content: "\300D"
    }
    .l56esfk:lang(zh-CN):before {
        content: "\201C"
    }
    .l56esfk:lang(zh-CN):after {
        content: "\201D"
    }
    .l56esfk:lang(es-ES):before {
        content: "\00AB"
    }
    .l56esfk:lang(es-ES):after {
        content: "\00BB"
    }
    .l56esfk:lang(es-MX):before {
        content: "\201C"
    }
    .l56esfk:lang(es-MX):after {
        content: "\201D"
    }
    .l56esfk:lang(de),
    .l56esfk:lang(es),
    .l56esfk:lang(fr),
    .l56esfk:lang(pl),
    .l56esfk:lang(pt),
    .l56esfk:lang(ru) {
        line-height: 1
    }
    .l56esfk:lang(ja),
    .l56esfk:lang(ko),
    .l56esfk:lang(zh) {
        font-size: var(--_19z1c6d2y);
        line-height: 1.2
    }
    .l56esfn {
        font-style: normal;
        letter-spacing: -.0125em
    }
    .l56esfo {
        font-family: var(--da39af);
        line-height: 100%;
        font-size: calc(var(--l56esfl) * 1.8)
    }
    .l56esfo:lang(ja) {
        font-family: var(--da41a3)
    }
    .l56esfo:lang(ko) {
        font-family: var(--da42a3)
    }
    .l56esfo:lang(zh-CN) {
        font-family: var(--da43a3)
    }
    .l56esfo:lang(zh-TW) {
        font-family: var(--da44a3)
    }
    .l56esfp {
        line-height: 120%;
        font-size: var(--l56esfl);
        text-wrap: pretty;
        letter-spacing: -.03em
    }
    .l56esfq {
        font-style: normal;
        font-size: var(--l56esfm);
        line-height: 86%;
        letter-spacing: -.04em
    }
    .l56esfq:lang(ja),
    .l56esfq:lang(ko),
    .l56esfq:lang(zh) {
        line-height: 1
    }
    .l56esfq:lang(ja) {
        font-family: var(--da39af), var(--da41a2)
    }
    .l56esfq:lang(ko) {
        font-family: var(--da39af), var(--da42a2)
    }
    .l56esfq:lang(zh-CN) {
        font-family: var(--da39af), var(--da43a2)
    }
    .l56esfq:lang(zh-TW) {
        font-family: var(--da39af), var(--da44a2)
    }
    @media (min-width:768px) {
        .l56esf6:lang(ja),
        .l56esf6:lang(ko),
        .l56esf6:lang(zh) {
            font-size: var(--_19z1c6d30)
        }
        .l56esf6 {
            font-size: var(--_19z1c6d34)
        }
        .l56esf7:lang(ja),
        .l56esf7:lang(ko),
        .l56esf7:lang(zh) {
            font-size: var(--_19z1c6d35)
        }
        .l56esf7 {
            font-size: var(--_19z1c6d38)
        }
        .l56esf8:lang(ja),
        .l56esf8:lang(ko),
        .l56esf8:lang(zh) {
            font-size: var(--_19z1c6d37)
        }
        .l56esf8 {
            font-size: var(--_19z1c6d3a)
        }
        .l56esfa {
            font-size: var(--_19z1c6d2x)
        }
        .l56esfb {
            font-size: var(--_19z1c6d30)
        }
        .l56esfc {
            font-size: var(--_19z1c6d34)
        }
        .l56esfe {
            font-size: var(--_19z1c6d2v)
        }
        .l56esff {
            font-size: var(--_19z1c6d2w)
        }
        .l56esfg {
            font-size: var(--_19z1c6d2v)
        }
        .l56esfi {
            font-size: var(--_19z1c6d2s)
        }
        .l56esfj {
            font-size: var(--_19z1c6d2r)
        }
        .l56esfk:lang(ja),
        .l56esfk:lang(ko),
        .l56esfk:lang(zh) {
            font-size: var(--_19z1c6d35)
        }
        .l56esfk {
            font-size: var(--_19z1c6d38)
        }
        .l56esfo {
            font-size: calc(var(--l56esfl) * 2)
        }
        .l56esfq {
            font-size: var(--l56esfm);
            letter-spacing: -.0125em
        }
    }
}