.x6lozz1 {
    --x6lozz0: 10vw;
    --l56esfl: min(4lvh, 5.7vw);
    align-items: center;
    position: relative;
    width: 100vw
}

.x6lozz1,
.x6lozz2 {
    display: flex;
    flex-direction: column;
    justify-content: center
}

.x6lozz2 {
    max-width: var(--_19z1c6d1);
    margin: auto;
    align-self: stretch;
    height: 100lvh;
    padding: 0 var(--x6lozz0);
    gap: var(--l56esfl);
    background-image: radial-gradient(225.46% 169.6% at 50% 90%, #ffd27b 0, #df3a93 33.33%, #5c1663 66.67%, rgba(32, 31, 66, 0) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.x6lozz2::-moz-selection {
    -webkit-text-fill-color: var(--_1nfc5st9)
}

.x6lozz2::selection {
    -webkit-text-fill-color: var(--_1nfc5st9)
}

@media (min-width:0px) and (max-width:767px) and (orientation:landscape) {
    .x6lozz1 {
        --x6lozz0: 20vw
    }
}

@media (min-width:768px) {
    .x6lozz1 {
        --l56esfl: clamp(3lvh, 2.6vw, 5lvh);
        --x6lozz0: 13vw
    }
}

@media (min-width:2560px) {
    .x6lozz1 {
        --l56esfl: clamp(3lvh, 70px, 5lvh)
    }
}

@layer herm1h0 {
    .x6lozz3 {
        -webkit-text-fill-color: transparent
    }
    .x6lozz3::-moz-selection {
        -webkit-text-fill-color: var(--_1nfc5st9)
    }
    .x6lozz3::selection {
        -webkit-text-fill-color: var(--_1nfc5st9)
    }
}

.w2b72h0 {
    inset: 0;
    position: fixed;
    background: var(--_1nfc5sta);
    z-index: var(--_19z1c6d5)
}

.w2b72h0:before {
    content: "";
    inset: 0;
    position: absolute;
    z-index: -1
}

.w2b72h1 {
    opacity: 0;
    visibility: hidden
}

.w2b72h3 {
    height: 75vh;
    width: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    object-fit: cover;
    object-position: top left
}

.w2b72h4 {
    opacity: 0;
    visibility: hidden;
    transform: translateX(0);
    will-change: transform;
    position: fixed
}

.w2b72h6 {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    inset: 0;
    isolation: isolate;
    overflow-x: auto;
    overflow-y: hidden;
    overscroll-behavior: none;
    position: fixed;
    z-index: var(--_19z1c6d6)
}

.w2b72h6:focus {
    outline: none
}

.w2b72h7 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: var(--_19z1c6d31);
    padding: var(--_19z1c6d3b) var(--_19z1c6d32) var(--_19z1c6d31) var(--_19z1c6d2x);
    height: 100dvh
}

.w2b72h8 {
    transform: rotate(-4deg);
    width: calc(100vw - 2 * var(--_19z1c6d2x)) !important;
    pointer-events: none
}

.w2b72h9 {
    opacity: 0;
    visibility: hidden
}

.w2b72hb {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: var(--_19z1c6d32)
}

.w2b72hc {
    opacity: 0;
    visibility: hidden
}

.w2b72hf {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--_19z1c6d2q)
}

.w2b72hg:lang(de),
.w2b72hg:lang(es),
.w2b72hg:lang(fr),
.w2b72hg:lang(ja),
.w2b72hg:lang(ko),
.w2b72hg:lang(pl),
.w2b72hg:lang(pt),
.w2b72hg:lang(ru),
.w2b72hg:lang(zh) {
    line-height: 1.2
}

.w2b72hh {
    display: flex;
    gap: var(--_19z1c6d32);
    align-items: flex-start;
    align-self: stretch
}

.w2b72hi {
    text-wrap: unset;
    width: var(--_19z1c6d3r)
}

.w2b72hj {
    position: fixed;
    left: var(--_19z1c6d2x);
    top: var(--_19z1c6d2x);
    z-index: 1
}

.w2b72hk {
    opacity: 0;
    visibility: hidden
}

.w2b72hm {
    display: block;
    position: fixed;
    right: var(--_19z1c6d2x);
    top: var(--_19z1c6d2x);
    width: var(--_19z1c6d3i);
    z-index: 1
}

.w2b72hn {
    opacity: 0;
    visibility: hidden
}

@media (min-width:0px) and (max-width:767px) {
    .w2b72h3 {
        -webkit-mask-image: linear-gradient(180deg, #000 65%, transparent), linear-gradient(90deg, #000 65%, transparent);
        mask-image: linear-gradient(180deg, #000 65%, transparent), linear-gradient(90deg, #000 65%, transparent);
        -webkit-mask-composite: source-in, xor;
        mask-composite: intersect
    }
}

@media (min-width:0px) and (max-width:767px) and (orientation:landscape) {
    .w2b72h7 {
        gap: var(--_19z1c6d35);
        align-items: center;
        flex-direction: row;
        padding: 0 0 0 var(--_19z1c6d38)
    }
}

@media (min-width:768px) {
    .w2b72h3 {
        -webkit-mask-image: linear-gradient(90deg, #000 65%, transparent);
        mask-image: linear-gradient(90deg, #000 65%, transparent);
        height: 100vh;
        object-fit: contain;
        object-position: bottom left
    }
    .w2b72h7 {
        align-items: center;
        gap: var(--_19z1c6d3d);
        flex-direction: row;
        padding: 0 var(--_19z1c6d3a) 0 var(--_19z1c6d3k)
    }
    .w2b72h8 {
        height: var(--_19z1c6d3y);
        width: auto !important
    }
    .w2b72hb {
        flex-direction: column
    }
    .w2b72hb,
    .w2b72hf {
        gap: var(--_19z1c6d2u)
    }
    .w2b72hg {
        width: var(--_19z1c6d3y)
    }
    .w2b72hh {
        gap: var(--_19z1c6d3a);
        align-items: center;
        align-self: unset
    }
    .w2b72hi {
        font-size: var(--_19z1c6d2u);
        width: var(--_19z1c6d3y)
    }
    .w2b72hj {
        left: var(--_19z1c6d35);
        top: var(--_19z1c6d35)
    }
}

@media (min-width:0px) and (max-width:767px) {
    .w2b72h8 {
        transform-origin: top 50%
    }
    .w2b72hg {
        max-width: var(--_19z1c6d3r)
    }
}

@layer herm1h0.herm1h1 {
    .w2b72he {
        text-transform: uppercase;
        line-height: .9;
        font-size: var(--_19z1c6d33);
        max-width: var(--_19z1c6d3o)
    }
    .w2b72he:lang(ko),
    .w2b72he:lang(zh-CN),
    .w2b72he:lang(zh-TW) {
        word-break: keep-all;
        line-break: strict;
        white-space: normal;
        overflow-wrap: normal;
        text-wrap: wrap
    }
    @media (min-width:768px) {
        .w2b72he {
            font-size: var(--_19z1c6d38);
            max-width: var(--_19z1c6d3w)
        }
    }
    @media (min-width:0px) and (max-width:767px) {
        .w2b72he {
            width: -moz-max-content;
            width: max-content
        }
    }
}

._1jyr3pi3 {
    --_1jyr3pi0: var(--_1jyr3pi1);
    --_1jyr3pi2: calc(var(--_1jyr3pi1) / 2);
    display: flex;
    flex-wrap: nowrap
}

._1jyr3pi4 {
    opacity: 0;
    visibility: hidden
}

._1jyr3pi6 {
    display: grid;
    align-items: center;
    grid-gap: var(--_19z1c6d32);
    gap: var(--_19z1c6d32)
}

._1jyr3pi7 {
    grid-template-columns: repeat(3, min-content)
}

._1jyr3pi7,
._1jyr3pi8 {
    grid-template-rows: repeat(1, min-content)
}

._1jyr3pi8 {
    grid-template-columns: repeat(2, min-content)
}

._1jyr3pi9 {
    grid-template-columns: repeat(1, min-content)
}

._1jyr3pi9,
._1jyr3pia {
    grid-template-rows: repeat(1, min-content);
    align-self: center
}

._1jyr3pia {
    grid-template-columns: repeat(2, min-content)
}

._1jyr3pib {
    grid-template-columns: repeat(1, min-content);
    grid-template-rows: repeat(1, min-content)
}

._1jyr3pid {
    height: 30dvh
}

._1jyr3pie {
    height: 35dvh
}

._1jyr3pif {
    height: 50dvh
}

._1jyr3pig {
    height: 60dvh
}

._1jyr3pih {
    height: 65dvh
}

._1jyr3pii {
    height: 75dvh
}

._1jyr3pij {
    height: 100dvh
}

._1jyr3pik {
    aspect-ratio: 1/1
}

._1jyr3pil {
    aspect-ratio: 9/16
}

._1jyr3pim {
    --_1jyr3pi0: var(--_1jyr3pi2);
    width: auto !important;
    object-position: center;
    object-fit: cover;
    position: relative;
    top: var(--_1jyr3pi0)
}

._1jyr3piv {
    justify-self: flex-end;
    grid-column: 2;
    grid-row: 1
}

._1jyr3piw {
    grid-column: 1;
    grid-row: 1;
    top: 0
}

._1jyr3pix {
    grid-column: 3;
    grid-row: 1
}

._1jyr3piy {
    grid-column: 1;
    grid-row: 1;
    top: 0
}

._1jyr3piz {
    align-self: center;
    grid-column: 2;
    grid-row: 1
}

._1jyr3piz:only-child {
    grid-column: span 2
}

._1jyr3pi10 {
    align-self: center
}

._1jyr3pi10,
._1jyr3pi11 {
    grid-column: 1;
    grid-row: 1
}

._1jyr3pi11 {
    top: 0
}

._1jyr3pi12 {
    grid-column: 2;
    grid-row: 1
}

._1jyr3pi13 {
    grid-column: 1;
    grid-row: 1;
    top: 0
}

._1jyr3pi14 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center
}

._1jyr3pi1j {
    object-position: 100% center
}

._1jyr3pi1k {
    object-position: 14% center
}

._1jyr3pi1l {
    object-position: 0 center
}

._1jyr3pi1m {
    object-position: 29% center
}

._1jyr3pi1n {
    object-position: 89% center
}

._1jyr3pi1o {
    object-position: 50% center
}

._1jyr3pi1p {
    object-position: 71% center
}

._1jyr3pi1q {
    object-position: 66% center
}

._1jyr3pi1r {
    object-position: 58.5% center
}

._1jyr3pi1s {
    object-position: 18% center
}

._1jyr3pi1t {
    object-position: 100% center
}

._1jyr3pi1u {
    object-position: 57% center
}

._1jyr3pi1v {
    object-position: 50% center
}

._1jyr3pi1w {
    object-position: 98% center
}

._1jyr3pi1x {
    object-position: 60% center
}

._1jyr3pi1y {
    object-position: 17% center
}

._1jyr3pi1z {
    object-position: 47% center
}

._1jyr3pi20 {
    object-position: 17% center
}

._1jyr3pi21 {
    object-position: 0 center
}

._1jyr3pi22 {
    object-position: 48% center
}

._1jyr3pi23,
._1jyr3pi24 {
    object-position: 0 center
}

._1jyr3pi25 {
    object-position: 52.7% center
}

._1jyr3pi26 {
    object-position: 100% center
}

._1jyr3pi27 {
    object-position: 56.5% center
}

._1jyr3pi28 {
    object-position: 5% center
}

._1jyr3pi29 {
    object-position: 3% center
}

._1jyr3pi2a {
    object-position: 90% center
}

._1jyr3pi2b {
    object-position: 100% center
}

._1jyr3pi2c {
    object-position: 25% center
}

._1jyr3pi2d {
    object-position: 42% center
}

._1jyr3pi2e {
    object-position: 63% center
}

._1jyr3pi2f {
    object-position: 40% center
}

._1jyr3pi2g {
    object-position: 32% center
}

@media (min-width:768px) {
    ._1jyr3pi3 {
        --_1jyr3pi1: 0px;
        gap: var(--_19z1c6d3a);
        align-items: center;
        align-self: center
    }
    ._1jyr3pi6 {
        gap: var(--foundry_ee21f32b)
    }
    ._1jyr3pi7 {
        grid-template-columns: repeat(2, min-content);
        grid-template-rows: repeat(2, min-content)
    }
    ._1jyr3pi9 {
        align-self: unset
    }
    ._1jyr3pim {
        top: 0
    }
    ._1jyr3piv {
        grid-column: 1;
        grid-row: 1;
        height: 30dvh
    }
    ._1jyr3piw {
        grid-column: 1;
        grid-row: 2;
        height: 65dvh
    }
    ._1jyr3pix {
        grid-column: 2;
        grid-row: 1/span 2
    }
    ._1jyr3piz {
        height: 65dvh
    }
    ._1jyr3pi13 {
        aspect-ratio: 1/1
    }
}

@media (min-width:0px) and (max-width:767px) {
    ._1jyr3pi3 {
        --_1jyr3pi1: var(--_19z1c6d38);
        gap: var(--_19z1c6d32);
        align-items: center;
        align-self: flex-end
    }
}

.pswdgb0 {
    width: 100vw;
    align-items: center
}

.pswdgb1 {
    background: var(--_19z1c6d14);
    padding-top: var(--_19z1c6d3c);
    padding-bottom: var(--_19z1c6d3c);
    max-width: 100%
}

.pswdgb2 {
    margin: var(--_19z1c6d3c) auto
}

.pswdgb3 {
    grid-column: 3/span 4;
    height: var(--_19z1c6d3e);
    object-fit: contain;
    object-position: left
}

.pswdgb4 {
    grid-column: 7/span 4
}

@media (min-width:0px) and (max-width:767px) {
    .pswdgb0 {
        text-align: center
    }
    .pswdgb1 {
        padding-top: var(--_19z1c6d35);
        padding-bottom: var(--_19z1c6d35)
    }
    .pswdgb2 {
        margin: var(--_19z1c6d35) auto
    }
    .pswdgb3 {
        grid-column: main;
        height: var(--_19z1c6d39);
        object-position: center
    }
    .pswdgb4 {
        grid-column: main;
        font-size: var(--_19z1c6d2t)
    }
}

@media (min-width:768px) and (max-width:1279px) {
    .pswdgb3 {
        grid-column: 2/span 5
    }
    .pswdgb4 {
        grid-column: 7/span 5
    }
}

._89gs0a1 {
    --_89gs0a0: center 20%;
    width: 100vw
}

._89gs0a2 {
    height: 100lvh;
    position: relative
}

._89gs0a5 {
    --_89gs0a0: center 30%
}

._89gs0a6 {
    height: 125vh
}

._89gs0a7 {
    height: 100lvh;
    width: 100vw;
    position: absolute;
    inset: 0;
    z-index: -1
}

[data-in-app=true] ._89gs0ab {
    height: 100dvh !important;
    max-height: 100dvh !important
}

._89gs0ad {
    inset: 0;
    position: absolute !important;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: var(--_89gs0a0)
}

@media (max-aspect-ratio:1) {
    ._89gs0a1 {
        --_89gs0a0: 60% 20%
    }
}

@media (min-width:0px) and (max-width:767px) {
    ._89gs0a1 {
        --_89gs0a0: 20% 20%
    }
    ._89gs0a2 {
        -webkit-mask-image: linear-gradient(0deg, transparent 1.82%, rgba(0, 0, 0, .1) 16.55%, #000 31.27%);
        mask-image: linear-gradient(0deg, transparent 1.82%, rgba(0, 0, 0, .1) 16.55%, #000 31.27%)
    }
    ._89gs0a6 {
        height: 150lvh
    }
}

@media (max-aspect-ratio:1.5) {
    ._89gs0a5 {
        --_89gs0a0: 23% 30%
    }
}

@media (min-width:0px) and (max-width:767px) and (orientation:portrait) {
    ._89gs0a8 {
        --_89gs0a0: 78% center
    }
    ._89gs0ac {
        --_89gs0a0: 78% 10%
    }
}

@media (min-width:0px) and (max-width:767px) and (orientation:landscape) {
    ._89gs0ab {
        max-height: 100%
    }
}

._3h9ej50 {
    width: 100vw;
    aspect-ratio: 4/6;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 4vw), 0 100%);
    margin-bottom: -4vw
}

._3h9ej51 {
    background: var(--_1nfc5sta)
}

._3h9ej52 {
    object-position: 32% 75%
}

@media (min-width:0px) and (max-width:767px) and (orientation:landscape),
(min-width:768px) {
    ._3h9ej50 {
        aspect-ratio: 3/2
    }
}

@media (min-width:768px) {
    ._3h9ej52 {
        object-position: 50% 75%
    }
}